{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/footer.css">

<body>
    <div id="wrapper">
        <h1 style="position: relative; margin-left: auto; TEXT-ALIGN: center; margin-right: auto; margin-bottom: 50px; font-weight: 400;
        width: 300px; font-size:30px; color: black; "> 시제품 제작 </h1>

        <div>
        <div style="border: 1px solid white; float: left; width: 49%; TEXT-ALIGN: center; position: relative; "vertical-align="middle">
            <!--돋보기-->
            <div>
                <a href="#" style="position: relative; margin-bottom: 10px;" > 
                    <img style="position: absolute; left: 60px;" src="/static/images/magnifying_glass.png" width="34px" height="34px"  />
                </a>
            </div>
            <!--이미지-->
            <div style="margin-top: 40px;">
                <a href="/prototyping/3DPrinting">
                    <img style="position: relative; border-radius: 50px;" src="/static/images/3DPrinting.png" width="251px" height="251px"  />    
                </a>
                <!--글자-->
                <h3 style="TEXT-ALIGN: center ">3D 프린팅</h3>
            </div>
            <!--포트폴리오-->
            <div style="margin-top: 10px;">
                <a href="/portfolio/3d" style="position: relative; margin-bottom: 10px;" > 
                    <img style="text-align: center;" src="/static/images/portfolio_move.png" width="144px" height="71px"  />
                </a>
            </div>
            
        </div>

        <div style="border: 1px solid white; float: left; width: 49%; TEXT-ALIGN: center">
            <!--돋보기-->
            <div>
                <a href="#" style="position: relative; margin-bottom: 10px;" > 
                    <img style="position: absolute; left: 60px;" src="/static/images/magnifying_glass.png" width="34px" height="34px"  />
                </a>
            </div>
            <!--이미지-->
            <div style="margin-top: 40px;">
                <a href="/prototyping/mockUp">
                    <img style="position: relative;border-radius: 50px;" src="/static/images/mockUp.png" width="251px" height="251px"  /> 
                </a>
            </div>
            <!--글자-->
            <h3 style="TEXT-ALIGN: center">목업</h3>
            <!--포트폴리오-->
            <div style="margin-top: 10px;">
                <a href="/portfolio/mockup" style="position: relative; margin-bottom: 10px;" > 
                    <img style="text-align: center;" src="/static/images/portfolio_move.png" width="144px" height="71px"  />
                </a>
            </div>
        </div>
        
    </div>
    </div>
</body>
{% endblock %}

