{% extends 'base.html' %}

{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">

{% include 'body/detail.html' %}
<!--<h1 id="h1-title"> 시제품 제작 - 상세설명 페이지(임시) </h1>  -->
<div>
    <div>
        <!-- 서비스 설명 메뉴 -->
        <table align="center" style="text-align: center;">
            <tr>
                <!-- ONLY IDEA -->
                <td>
                    <button type="button" class="btn-btns"
                            onclick="location.href='{% url 'itrencotech:onlyIdea_detail' %}'"
                            style="width:100%"> ONLY IDEA </button>
                </td>
                <!-- 시제품 제작 -->
                <td>
                    <button type="button" id="btn-selected-now"
                            class="btn-btns" onclick="location.href='{% url 'itrencotech:prototyping_detail' %}'"
                            style="width:100%"> 시제품 제작 </button>
                </td>
                <!-- 양산 -->
                <td>
                    <button type="button" class="btn-btns"
                            onclick="location.href='{% url 'itrencotech:production_detail' %}'"
                            style="width:100%"> 양산 </button>
                </td>
            </tr>
        </table>
    </div>
    <!-- 설명1 -->
    <div align="center" class="detail-box">
        <div class="detail-box-in-box">
            <!-- 이미지 -->
            <div class="detail-img">
                <img src="/static/images/service_description_test.png">
            </div>
            <div class="detail-other">
                <div class="detail-other-top">
                    <!-- 설명 title -->
                    <div class="detail-title">
                        <font size="6">3D 프린팅</font>
                    </div>
                    <!-- 포트폴리오 버튼 -->
                    <button class="detail-portfolio-btn" type="button"
                            onclick="location.href='{% url 'itrencotech:portfolio_design' %}'">포트폴리오</button>
                    <!-- 주문하기 버튼 -->
                    <button class="detail-order-btn" type="button"
                            onclick="location.href='{% url 'itrencotech:order_form_prototyping' %}'">주문하기</button>
                </div>
                <!-- 텍스트 설명 -->
                <div class="detail-description">
                        <p> 이트렌코텍 홈페이지를 방문하여 주신 여러분들에게 감사 드립니다.
                            이트렌코텍은 "Idea to real with coexist technology"의 의미를 지니고 있는
                            제품개발 토탈 솔루션을 제공하는 기업입니다.
                            이트렌코텍은 설립 이래 한결같이 고객 만족을 최우선으로 생각하고,
                            고객 감동을 실현하기 위해 아이디어 현실화, 기술개발 시스템을 구축해 나가고 있습니다.
                            고객이 원하는 정확한 아이디어와 제작을 위해 앞서가는 시굴력으로
                            "고객이 가장 신뢰하는 기업"으로써 거듭나기 위해 노력하고 있습니다.</p>
                </div>
            </div>
        </div>
        <!-- 설명 간 경계선 -->
        <div class="detail-boundary">
            <img src="/static/images/service_detail_boundary.png">
        </div>
    </div>
    <!-- 설명2 -->
    <div align="center" class="detail-box">
        <div class="detail-box-in-box">
            <!-- 이미지 -->
            <div class="detail-img">
                <img src="/static/images/service_description_test.png">
            </div>
            <div class="detail-other">
                <div class="detail-other-top">
                    <!-- 설명 title -->
                    <div class="detail-title">
                        <font size="6">목업 CNC 가공</font>
                    </div>
                    <!-- 포트폴리오 버튼 -->
                    <button class="detail-portfolio-btn" type="button"
                            onclick="location.href='{% url 'itrencotech:portfolio_design' %}'">포트폴리오</button>
                    <!-- 주문하기 버튼 -->
                    <button class="detail-order-btn" type="button"
                            onclick="location.href='{% url 'itrencotech:order_form_prototyping' %}'">주문하기</button>
                </div>
                <!-- 텍스트 설명 -->
                <div class="detail-description">
                        <p> 이트렌코텍 홈페이지를 방문하여 주신 여러분들에게 감사 드립니다.
                            이트렌코텍은 "Idea to real with coexist technology"의 의미를 지니고 있는
                            제품개발 토탈 솔루션을 제공하는 기업입니다.
                            이트렌코텍은 설립 이래 한결같이 고객 만족을 최우선으로 생각하고,
                            고객 감동을 실현하기 위해 아이디어 현실화, 기술개발 시스템을 구축해 나가고 있습니다.
                            고객이 원하는 정확한 아이디어와 제작을 위해 앞서가는 시굴력으로
                            "고객이 가장 신뢰하는 기업"으로써 거듭나기 위해 노력하고 있습니다.</p>
                </div>
            </div>
        </div>
        <!-- 설명 간 경계선 -->
        <div class="detail-boundary">
            <img src="/static/images/service_detail_boundary.png">
        </div>
    </div>
    <!-- 설명3 -->
    <div align="center" class="detail-box">
        <div class="detail-box-in-box">
            <!-- 이미지 -->
            <div class="detail-img">
                <img src="/static/images/service_description_test.png">
            </div>
            <div class="detail-other">
                <div class="detail-other-top">
                    <!-- 설명 title -->
                    <div class="detail-title">
                        <font size="6">부품 CNC 가공</font>
                    </div>
                    <!-- 포트폴리오 버튼 -->
                    <button class="detail-portfolio-btn" type="button"
                            onclick="location.href='{% url 'itrencotech:portfolio_design' %}'">포트폴리오</button>
                    <!-- 주문하기 버튼 -->
                    <button class="detail-order-btn" type="button"
                            onclick="location.href='{% url 'itrencotech:order_form_prototyping' %}'">주문하기</button>
                </div>
                <!-- 텍스트 설명 -->
                <div class="detail-description">
                        <p> 이트렌코텍 홈페이지를 방문하여 주신 여러분들에게 감사 드립니다.
                            이트렌코텍은 "Idea to real with coexist technology"의 의미를 지니고 있는
                            제품개발 토탈 솔루션을 제공하는 기업입니다.
                            이트렌코텍은 설립 이래 한결같이 고객 만족을 최우선으로 생각하고,
                            고객 감동을 실현하기 위해 아이디어 현실화, 기술개발 시스템을 구축해 나가고 있습니다.
                            고객이 원하는 정확한 아이디어와 제작을 위해 앞서가는 시굴력으로
                            "고객이 가장 신뢰하는 기업"으로써 거듭나기 위해 노력하고 있습니다.</p>
                </div>
            </div>
        </div>
        <!-- 설명 간 경계선 -->
        <div class="detail-boundary">
            <img src="/static/images/service_detail_boundary.png">
        </div>
    </div>
    <!-- 설명4 -->
    <div align="center" class="detail-box">
        <div class="detail-box-in-box">
            <!-- 이미지 -->
            <div class="detail-img">
                <img src="/static/images/service_description_test.png">
            </div>
            <div class="detail-other">
                <div class="detail-other-top">
                    <!-- 설명 title -->
                    <div class="detail-title">
                        <font size="6">SMART DIGITAL MOLD</font>
                    </div>
                    <!-- 포트폴리오 버튼 -->
                    <button class="detail-portfolio-btn" type="button"
                            onclick="location.href='{% url 'itrencotech:portfolio_design' %}'">포트폴리오</button>
                    <!-- 주문하기 버튼 -->
                    <button class="detail-order-btn" type="button"
                            onclick="location.href='{% url 'itrencotech:order_form_prototyping' %}'">주문하기</button>
                </div>
                <!-- 텍스트 설명 -->
                <div class="detail-description">
                        <p> 이트렌코텍 홈페이지를 방문하여 주신 여러분들에게 감사 드립니다.
                            이트렌코텍은 "Idea to real with coexist technology"의 의미를 지니고 있는
                            제품개발 토탈 솔루션을 제공하는 기업입니다.
                            이트렌코텍은 설립 이래 한결같이 고객 만족을 최우선으로 생각하고,
                            고객 감동을 실현하기 위해 아이디어 현실화, 기술개발 시스템을 구축해 나가고 있습니다.
                            고객이 원하는 정확한 아이디어와 제작을 위해 앞서가는 시굴력으로
                            "고객이 가장 신뢰하는 기업"으로써 거듭나기 위해 노력하고 있습니다.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
