{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>prototyping main</title>
</head>
<body>
    <div>
        <h1 style="position: relative; margin-left: auto; TEXT-ALIGN: center; margin-right: auto; margin-bottom: 50px; font-weight: 400;
        width: 300px; font-size:30px; color: black; "> 시제품 제작 </h1>

        <div>
        <div style="border: 1px solid white; float: left; width: 25%; TEXT-ALIGN: center; position: relative; "vertical-align="middle">
            <!--돋보기-->
            <div>
                <a href="#" style="position: relative; margin-bottom: 10px;" > 
                    <img style="position: absolute; left: 60px;" src="/static/images/magnifying_glass.PNG" width="40px" height="40px"  />
                </a>
            </div>
            <!--이미지-->
            <div style="margin-top: 40px;">
                <a href="/prototyping/3DPrinting">
                    <img style="position: relative; border-radius: 50px;" src="/static/images/machine_design.png" width="200px" height="200px"  />    
                </a>
                <!--글자-->
                <h3 style="TEXT-ALIGN: center ">3D 프린팅</h3>
            </div>
            <!--포트폴리오-->
            <div style="margin-top: 10px;">
                <a href="{% url 'itrencotech:portfolio' %}" style="position: relative; margin-bottom: 10px;" > 
                    <img style="text-align: center;" src="/static/images/portfolio.PNG" width="100px" height="40px"  />
                </a>
            </div>
            
        </div>

        <div style="border: 1px solid white; float: left; width: 25%; TEXT-ALIGN: center">
            <!--돋보기-->
            <div>
                <a href="#" style="position: relative; margin-bottom: 10px;" > 
                    <img style="position: absolute; left: 60px;" src="/static/images/magnifying_glass.PNG" width="40px" height="40px"  />
                </a>
            </div>
            <!--이미지-->
            <div style="margin-top: 40px;">
                <a href="/prototyping/mockUp">
                    <img style="position: relative;border-radius: 50px;" src="/static/images/product_design.png" width="200px" height="200px"  /> 
                </a>
            </div>
            <!--글자-->
            <h3 style="TEXT-ALIGN: center">목업</h3>
            <!--포트폴리오-->
            <div style="margin-top: 10px;">
                <a href="{% url 'itrencotech:portfolio' %}" style="position: relative; margin-bottom: 10px;" > 
                    <img style="text-align: center;" src="/static/images/portfolio.PNG" width="100px" height="40px"  />
                </a>
            </div>
        </div>

        <div style="border: 1px solid white; float: left; width: 25%; TEXT-ALIGN: center; position: relative;">
            <!--돋보기-->
            <div>
                <a href="#" style="position: relative; margin-bottom: 10px;" > 
                    <img style="position: absolute; left: 60px;" src="/static/images/magnifying_glass.PNG" width="40px" height="40px"  />
                </a>
            </div>
            <!--이미지-->
            <div style="margin-top: 40px;">
                <a href="/prototyping/CNC">
                    <img style="position: relative;border-radius: 50px;" src="/static/images/product_equipment_design.png" width="200px" height="200px"  /> 
                </a>
            </div>
            <!--글자-->
            <h3 style="TEXT-ALIGN: center">CNC 가공</h3>
            <!--포트폴리오-->
            <div style="margin-top: 10px;">
                <a href="{% url 'itrencotech:portfolio' %}" style="position: relative; margin-bottom: 10px;" > 
                    <img style="text-align: center;" src="/static/images/portfolio.PNG" width="100px" height="40px"  />
                </a>
            </div>
        </div>

        <div style="border: 1px solid white; float: left; width: 24%; TEXT-ALIGN: center; position: relative;">
            <!--돋보기-->
            <div>
                <a href="#" style="position: relative; margin-bottom: 10px;" > 
                    <img style="position: absolute; left: 60px;" src="/static/images/magnifying_glass.PNG" width="40px" height="40px"  />
                </a>
            </div>
            <!--이미지-->
            <div style="margin-top: 40px;">
                <a href="/prototyping/CNC">
                    <img style="position: relative;border-radius: 50px;" src="/static/images/product_equipment_design.png" width="200px" height="200px"  /> 
                </a>
            </div>
            <!--글자-->
            <h3 style="TEXT-ALIGN: center">판금 절곡</h3>
            <!--포트폴리오-->
            <div style="margin-top: 10px;">
                <a href="{% url 'itrencotech:portfolio' %}" style="position: relative; margin-bottom: 10px;" > 
                    <img style="text-align: center;" src="/static/images/portfolio.PNG" width="100px" height="40px"  />
                </a>
            </div>
        </div>
        
    </div>
</body>
</html>
{% endblock %}