{% load static %}
<!-- header -->
{% include 'body/header.html' %}

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/review.css' %}">
<link rel="stylesheet" type="text/css" href="/static/css/mouseover.css">

<!-- 타이틀 -->
<title>make it</title>
<!-- middle(header에서 닫지 못한 태그 등) -->
{% include 'body/middle.html' %}
<!-- 내비게이션바 -->
{% include 'navBar/navbar.html' %}

<!-- ########## 기본 템플릿 안에 삽입될 내용 start ########## -->
<div>
    <div id="wrapper">
        <h1 style="position: relative; margin-left: auto; TEXT-ALIGN: center; margin-right: auto; font-weight: 400;
            width: 300px;font-size:30px; color: black;"> ONLY IDEA </h1>
    </div>

        <table id="table_menu3" align="center" style="margin-top:0px;">
        <tr>
            <!-- ##### 제품 디자인 ##### -->
            <td>
                <div style="border: 1px solid white; float: left; text-align: center">
                    <!-- 상세설명 문구 및 돋보기 -->
                    <div style="width: 100%; background-color:#ff0000;">
                        <div style="float:left; width: 88%; height:100%;" align="right">
                            <font size="2" color="#444444" style="letter-spacing: 1px; right: 20px; margin-right:5px;">상세설명</font>
                            <a href="{% url 'itrencotech:onlyIdea_detail' %}" style="position: absolute; margin-bottom:10px;">
                                <img src="/static/images/question_mark.png" width="20px" height="20px"/></a>
                        </div>
                    </div>
                    <!--이미지-->
                        <div style="margin-top: 40px;">

                        <!-- 마우스오버 효과 -->
                        <figure class="snip1141"> <img style="position: relative;border-radius: 50px;"
                                src="/static/images/product_design.png" width="251px" height="251px" />
                            <figcaption>
                                <!-- 상단 동그라미 부분 -->
                                <div class="circle"><i class="ion-ios-plus-empty"> </i></div>

                                <h2>제품 디자인</h2>

                            </figcaption>

                            <!-- body 부분 -->
                            <h3 style="top: 55%; text-align: center;" >
                                주문하기
                            </h3>

                            <a href="{% url 'itrencotech:order_form_onlyIdea' %}"></a>
                        </figure>

                    </div>
                    <!--글자-->
                    <h3 style="TEXT-ALIGN: center">제품 디자인</h3>
                    <!--포트폴리오-->
                    <div style="margin-top: 10px;">
                        <a href="{% url 'itrencotech:portfolio_design' %}" style="position: relative; margin-bottom: 10px;">
                            <img style="text-align: center;" src="/static/images/portfolio_move.png" width="144px" height="71px" />
                        </a>
                    </div>
                </div>
            </td>
            <!-- ##### 기계시스템 설계 ##### -->
            <td>
                <div style="border: 1px solid white; float: left;TEXT-ALIGN: center">
                    <!-- 상세설명 문구 및 돋보기 -->
                    <div style="width: 100%; background-color:#ff0000;">
                        <div style="float:left; width: 88%; height:100%;" align="right">
                            <font size="2" color="#444444" style="letter-spacing: 1px; right: 20px; margin-right:5px;">상세설명</font>
                            <a href="{% url 'itrencotech:onlyIdea_detail' %}" style="position: absolute; margin-bottom:10px;">
                                <img src="/static/images/question_mark.png" width="20px" height="20px"/></a>
                        </div>
                    </div>
                    <!--이미지-->
                    <div style="margin-top: 40px;">

                        <!-- 마우스오버 효과 -->
                        <figure class="snip1141"> <img style="position: relative;border-radius: 50px;"
                            src="/static/images/machine_system_design.png" width="251px" height="251px" />
                        <figcaption>
                            <!-- 상단 동그라미 부분 -->
                            <div class="circle"><i class="ion-ios-plus-empty"> </i></div>

                            <h2>기계시스템 설계</h2>

                        </figcaption>

                        <!-- body 부분 -->
                        <h3 style="top: 55%; text-align: center;">
                            주문하기
                        </h3>

                        <a href="{% url 'itrencotech:order_form_onlyIdea' %}"></a>
                    </figure>
                    </div>
                    <!--글자-->
                    <h3 style="TEXT-ALIGN: center">기계시스템 설계</h3>
                    <!--포트폴리오-->
                    <div style="margin-top: 10px;">
                        <a href="{% url 'itrencotech:portfolio_machine_design' %}" style="position: relative; margin-bottom: 10px;">
                            <img style="text-align: center;" src="/static/images/portfolio_move.png" width="144px" height="71px" />
                        </a>
                    </div>
                </div>
            </td>
            <!-- ##### H/W 기구설계 ##### -->
            <td>
                <div style="border: 1px solid white; TEXT-ALIGN: center; position: relative;">
                    <!-- 상세설명 문구 및 돋보기 -->
                    <div style="width: 100%; background-color:#ff0000;">
                        <div style="float:left; width: 88%; height:100%;" align="right">
                            <font size="2" color="#444444" style="letter-spacing: 1px; right: 20px; margin-right:5px;">상세설명</font>
                            <a href="{% url 'itrencotech:onlyIdea_detail' %}" style="position: absolute; margin-bottom:10px;">
                                <img src="/static/images/question_mark.png" width="20px" height="20px"/></a>
                        </div>
                    </div>
                    <!--이미지-->
                    <div style="margin-top: 40px;">

                        <!-- 마우스오버 효과 -->
                        <figure class="snip1141"> <img style="position: relative;border-radius: 50px;"
                            src="/static/images/HW_mechanical_design.png" width="251px" height="251px" />
                        <figcaption>
                            <!-- 상단 동그라미 부분 -->
                            <div class="circle"><i class="ion-ios-plus-empty"> </i></div>

                            <h2>H/W 기구설계</h2>

                        </figcaption>

                        <!-- body 부분 -->
                        <h3 style="top: 55%; text-align: center;">
                            주문하기
                        </h3>

                        <a href="{% url 'itrencotech:order_form_onlyIdea' %}"></a>
                    </figure>
                    </div>
                    <!--글자-->
                    <h3 style="TEXT-ALIGN: center">H/W 기구설계</h3>
                    <!--포트폴리오-->
                    <div style="margin-top: 10px;">
                        <a href="{% url 'itrencotech:portfolio_HW_machine' %}" style="position: relative; margin-bottom: 10px;">
                            <img style="text-align: center;" src="/static/images/portfolio_move.png" width="144px" height="71px" />
                        </a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
<!-- 마우스오버 js 적용 -->
<script type="text/javascript" src="/static/js/mouseover.js"></script>
<!-- ########## 기본 템플릿 안에 삽입될 내용 end ########## -->

<!-- footer -->
{% include 'body/footer.html' %}
