{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/portfolio_detail.css' %}">

<body>
	<div id="div-title-container">
		<h1 id="h1-title"> 포트폴리오 </h1>
	</div>

    {% if portfolio_list %}
	<table id="table-container">
		<tr>
	{% for portfolio in portfolio_list %}
			<td> 
				<div class="div-images"> 
					<img src={{ "https://drive.google.com/thumbnail?id=" | add:portfolio.portfolio_img }}
					width="170px" height="170px">
				</div>
			</td>
		{% if not forloop.last and forloop.counter|divisibleby:4 %}
			</tr>
			<tr>
		{% endif %}
	{% endfor %}
		</tr>
	</table>
	{% else %}
	<div id="div-alert"> 포트폴리오를 준비 중입니다. </div>
{% endif %}

</body>
{% endblock %}