/* 고객 후기  */


/* 폰트 - KoPub돋움 */
@font-face {
    font-family: 'KoPubDotumMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 폰트 - 스포카한산스네오Light */
/* 굵기 문제로 교체 */
@font-face {
    font-family: 'SpoqaHanSansNeo-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 전체 설정 */
html {
    height: 100%;
}

/* 바디 전체 */
body {
    height: 100%;
    font-family: 'SpoqaHanSansNeo-Light';
    -webkit-text-stroke: 0.4px;
}

/* 제목 컨테이너 */
#div-title-container {
    text-align: center;
    box-shadow: 3px 3px 5px lightgray;
    padding: 35px;
    margin: 40px 0 40px 0;
    position: relative;
    z-index: -1;
}

/* 제목 컨테이너 아래 로고  */
#div-logo {
    background-image: url("/static/images/make_it_logo_2.png");
    background-size: cover;
    position: absolute;
    top: 57px;
    left: 180px;
    width: 120px;
    height: 115px;
    z-index: 1;
}

/* 제목 컨테이너의 그림자를 잘라 줄 상자 */
#div-logo-container {
    position: absolute;
    background-color: white;
    top: 70px;
    left: -10px;
    width: 320px;
    height: 200px;
}

/* 제목 */
#h1-title {
    text-align: center;
    font-size: 1.4em;
	letter-spacing: 0.15em;
	color: #131E3E;
    text-shadow: 3px 2px 2px lightgray;
    position: relative;
    display: inline-block;
	margin: 0 0 50px 0;
	z-index: -1;
}

/* 제목 오른쪽 위 귀여운 동그라미 */
#h1-title:before {
    content: "";
    position: absolute;
    top: -3.5px;
    right: -3.5px;
    transform: translate(50%,-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #75B9DA;
}

/* 모든 링크 색 변경 */
a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
}

/* 버튼 및 리뷰 컨테이너 */
#div-container {
    margin: 0 0 50px 0;
}

/* 버튼 컨테이너 테이블 */
#table-container-01 {
    text-align: center;
    padding: 10px 0 10px 320px;
}

/* 리뷰 컨테이너 테이블 */
#table-container-02 {
    text-align: center;
    margin: auto;
}

#table_menu3 {
    border-spacing: 140px 0;
    border-collapse: separate;
}

#table_menu4 {
    border-spacing: 75px 0;
    border-collapse: separate;
}

/* 버튼 */
.btn-btns {
    -webkit-text-stroke: 0.35px;
    text-align: center;
    font-size: 0.7em;
    letter-spacing: 0.4em;
    background: white;
    color: gray;
    margin: 10px;
    padding: 0.5em 1em 0.5em 1em;
    border: none;
    height: 30px;
    width: 115px;
    cursor: pointer;
    position: relative;
}

.btn-btns::before {
    content: "";
    height: 2px;
    width: 0;
    background-color: gray;
    border-radius: 30px;
    transition: 0.3s;
    position: absolute;
    bottom: 0;
    left: 13%;
}

.btn-btns:hover::before {
    width: 70%;
    background-color: #74BAD8;
}

/* 현재 탭 버튼 */
#btn-selected-now {
    -webkit-text-stroke: 0.35px;
    text-align: center;
    font-size: 0.7em;
    letter-spacing: 0.4em;
    color: #131E3E;
    margin: 10px;
    padding: 0.5em 1em 0.5em 1em;
    border: none;
    height: 30px;
    width: 115px;
    cursor: pointer;
    position: relative;
    background-color: transparent;
}

#btn-selected-now::before {
    content: "";
    height: 2px;
    width: 70%;
    background-color: #131E3E;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
    left: 13%;
}

/* 이미지 박스 */
.div-images {
    background-color: #C6C6C6;
    margin: 10px;
    height: 200px;
    width: 200px;
}

#wrapper {
    min-height: 100%;
    padding-bottom: 150px;
    position: relative;
}

/* footer */
.footer {
    /* background-image: url("/static/images/footer.png"); */
    position: relative;
    bottom: 0;
    height: 250px;
    width: 100%;
    text-align: center;
    height: 150px;
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(237,239,244);
    padding-top: 15px;
}

/* 챗봇 */
#chat-bot {
    position: fixed;
    right: -30px;
    bottom: 50px;
    z-index: 1;
}