html{
    height: 100%;
}

body {
    height: 100%;
    -webkit-text-stroke: 0.4px;
    font-family: 'KoPubDotumMedium';
}

#wrapper{
    min-height: 100%;
    padding-bottom: 250px;
    position: relative;

}


.footer {
    background-image: url("/static/images/footer.png");
    
    position: relative;

    bottom: 0;

    height: 250px;

    width: 100%;

    text-align: center;

    color: white;

    

}