html{
    height: 100%;
}

body {
    height: 100%;
    -webkit-transform: rotate(-0.15deg);
    font-family: 'KoPubDotumMedium';
}

#wrapper{
    min-height: 100%;
    padding-bottom: 250px;
    position: relative;
}

.footer {
    background-image: url("/static/images/footer.png");
    
    position: relative;
    bottom: 0;


    height: 250px;


    width: 100%;
    text-align: center;
    color: white;

}