html{
    height: 100%;
}

body {
    height: 100%;
    -webkit-text-stroke: 0.4px;
    font-family: 'KoPubDotumMedium';
}

#wrapper{
    min-height: 100%;
    padding-bottom: 150px;
    position: relative;

}


.footer {
    position: relative;

    bottom: 0;

    height: 150px;

    width: 100%;

    text-align: center;

    color: white;

    background: rgb(0, 0, 0);

}