/* 로그인 */


/* 로그인 요소 컨테이너 */
#div-wrapper {
    margin-top: -40px;
}

/* 로그인 요소 */
#div-login {
    text-align: center;
    width: 25%;
    height: 300px;
    margin: auto;
    padding-top: 50px;
    box-shadow: 3px 3px 5px lightgray;
    border-bottom-left-radius: 150%;
    border-bottom-right-radius: 150%;
}

/* 아이디, 비밀번호 텍스트 */
.p-login-txt {
    text-align: left;
    font-size: 0.4em;
    font-weight: bold;
    margin: 0 0 5px 90px;
}

/* 아이디, 비밀번호 입력창 */
input {
    text-align: left;
    font-size: 0.6em;
    color: gray;
    margin-bottom: 20px;
    padding-left: 5px;
    border: 1px solid gray;
    border-radius: 10px;
    height: 20px;
    width: 200px;
}

/* 로그인 버튼 */
#btn-login {
    text-align: center;
    font-weight: bold;
    font-size: 0.77em;
    letter-spacing: 0.05em;
    background: #131E3E;
    color: white;
    margin: 5px 5px 20px 5px;
    padding: 0.5em 1em 0.5em 1em;
    border: 1.4px solid #131E3E;
    border-radius: 15px;
    height: 33px;
    width: 170px;
    cursor: pointer;
}

/* 아이디, 비밀번호 찾기 & 회원가입 버튼 */
#a-find-btn {
    text-align: center;
    font-size: 0.7em;
    margin: 0 28px 100px 0;
}

#a-register-btn {
    text-align: center;
    font-size: 0.7em;
    margin: 0 0 100px 28px;
}