h4{
    color : #0B1637;
}
label { 
    display: block; 
    margin-top: 20px; 
    letter-spacing: 2px; 
} 
form { 
    margin: 0 auto; 
    width: 459px; 
} 
input, textarea { 
    width: 439px; 
    height: 27px; 
    background-color: #efefef; 
    border-radius: 6px; 
    border: 1px solid #dedede; 
    padding: 10px; 
    margin-top: 3px; 
    font-size: 0.9em; 
    color: #3a3a3a; 
} 

input:focus, textarea:focus{ 
    border: 1px solid #97d6eb; 
} 

textarea{ 
    height: 60px; 
    background-color: #efefef; 
} 
#submit{ 
    width: 127px; 
    height: 48px; 
    text-align: center; 
    border: none; 
    margin-top: 20px; 
    cursor: pointer; 
} 
#submit:hover{ 
    color: #fff; 
    background-color: #216282; 
    opacity: 0.9; 
} 
#cancel { 
    width: 127px; height: 48px; 
    text-align: center; 
    border: none; 
    margin-top: 20px; 
    cursor: pointer; 
} 
#cancel:hover{ 
    color: #fff; 
    background-color: #216282; 
    opacity: 0.9; 
}

.modal { 
    position: fixed; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    opacity: 0; 
    visibility: hidden; 
    transform: scale(1.1); 
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; 
} 
.modal-content { 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: white; 
    padding: 10px; 
    width: 630px; 
    height: 270px; 
    border-radius: 0.5rem; 
} 
.close-button { 
    float: right; 
    width: 1.5rem; 
    line-height: 1.5rem; 
    text-align: center; 
    cursor: pointer; 
    border-radius: 1rem; 
    background-color: rgb(52, 53, 52); 
    color : white;
} 
.close-button:hover { 
    background-color: darkgray; 
} 
.show-modal { 
    opacity: 1; 
    visibility: visible; 
    transform: scale(1.0); 
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; 
} 