/* 포트폴리오 */

/* 제목 */
#div-title {
    text-align: center;
    margin: 20px 0 20px 0;
}

/* 부제목 */
#div-subtitle {
    text-align: center;
    margin: 0 0 60px 0;
}

/* 이미지 버튼 컨테이너 */
#div-container {
    text-align: center;
}

/* 버튼 간격 조정 */
#a-btn-01, #a-btn-02, #a-btn-03, #a-btn-04 {
    margin: 20px;
}

/* 버튼 옆 공백 제거 */
a:link {
    text-decoration: none;
}

/* 버튼을 비롯한 모든 링크 색 변경 */
a:visited, a:active {
    color: black;
}

/* 버튼 그림자 */
img {
    box-shadow: 0 4px 15px 0 gray;
}

/* 버튼 활성 효과 */
img:hover {
    -webkit-filter: brightness(150%);
    -webkit-transition: all .2s ease-in-out;
}
