/* CSS 1 */
.container {
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
}

.button-wrap {
    position: relative;
    text-align: center;
    top: 50%;
    right: 25%;
    margin-top: -2.5em;
}

.button-label {
    display: inline-block;
    padding: 0.7em;
    margin: 0 1em;
    cursor: pointer;
    color: black;
    border-radius: 0.25em;
    background: white;
    transition: 0.3s;
    letter-spacing: 2px;
    border-radius: 17px;
}

.hidden {
    display: none;
}

#button1:checked+.button-label {
    text-decoration: underline;
    font-weight: bold;
    font-size: 17px;
}

#button2:checked+.button-label {
    text-decoration: underline;
    font-weight: bold;
    font-size: 17px;
}

/* CSS 2(나) */
.detail-box {
    margin-top: 40px;
}

.mypage-box-top {
    width:1000px;
    height:150px;
    position:relative;
    border: 4px solid #131E3E;
    border-radius: 30px;
}

.mypage-box {
    width:1000px;
    height:150px;
    position:relative;
    border: 2px solid #e9e9e9;
    border-radius: 30px;
}

.mypage-mini-box {
    position : relative;
    float:left;
    width: 250px;
    height: 100%;
}

.mypage-title {
    position : absolute;
    width: 100%;
    left : 50%;
    top : 50%;
    transform : translate(-50%, -50%);
}

.mypage-title font {
    letter-spacing: 2px;
    font-weight: 600;
}

.mypage-arrive-date {
    margin-top: 20px;
}

.order-btn {
    width: 140px;
    margin-top: 20px;
    background-color: white;
    border-radius:17px;
    font-size: 14px;
    padding:4px 0;
}

.btn-btn3 {
    width: 140px;
    margin: 5px 0;
    background-color: white;
    border-radius:17px;
    font-size: 14px;
    padding:4px 0;
}

.btn-btn3:hover, .order-btn:hover {
    background: #e9e9e9;
}

/* 접수 분할 선 */
.reception-boundary {
    margin: 30px 0;
}

/* 접수 상태 */
.reception-state-box {
    width: 100%;
    height: 185px;
    margin: 20px 0;
}

.reception-state-mini-box {
    float: left;
    width: 290px;
    height: 100%;
}

.reception-state-dot-box {
    float: left;
    width: 70px;
    height: 100%;
}

/* 주문 현황 */
#reception-box {
    width:1010px;
    height:300px;
    position:relative;
    border: 2px solid #a9a9a9;
    border-radius: 30px;
}

.reception-mini-box {
    position : relative;
    float:left;
    width: 230px;
    height: 80%;
    margin-top: 25px;
}

.reception-title {
    width: 100%;
    margin-top: 30px;
}

.reception-title font {
    letter-spacing: 2px;
    font-weight: 600;
}

#reception-info {
    width: 470px;
}

#reception-company {
    width: 100%;
    margin-top: 20px;
}

.column1 {
  width: 300px;
  text-align: center;
}

.column2 {
  width: 410px;
  text-align: center;
}

.column3 {
  width: 300px;
  text-align: center;
}

#shipping-info {
    border-collapse:collapse;
    border-bottom: 3px solid #a9a9a9;
}

#shipping-info th {
    letter-spacing: 1px;
    border-left: 1px solid #e9e9e9;
    border-bottom: 2px solid #c9c9c9;
}

#shipping-info td {
    border-left: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}

#shipping-info th:first-child, #shipping-info td:first-child {
    border-left: none;
}

table thead tr {
  height: 60px;
  background: #ECEDF1;
}

table tbody tr {
  height: 45px;
}
/*
tbody tr:nth-child(even) {
  background-color: #f5f5f5;
} */

