/* 포트폴리오 - 사출 금형 */


/* 제목 컨테이너 */
#div-title-container {
    text-align: center;
    box-shadow: 3px 3px 5px lightgray;
    padding: 35px;
    margin: 40px 0 40px 0;
    position: relative;
    z-index: -1;
}

/* 제목 오른쪽 위 귀여운 동그라미 */
#h1-title:before {
    content: "";
    position: absolute;
    top: -3.5px;
    right: -3.5px;
    transform: translate(50%,-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #75B9DA;
	z-index: -1;
}

/* 부제목 */
#div-subtitle {
    letter-spacing: 0.15em;
    text-align: center;
    margin: 35px 0 50px 0;
}

#div-subtitle:after {
    text-align: center;
        content: "";
        display: block;
        width: 100px;
        border-bottom: 1.5px solid #AAAAAA;
        margin: 10px auto;
}

/* 모든 링크 색 변경 */
a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
}

/* 이미지 컨테이너 */
#div-container {
    margin: 0 0 50px 0;
}

/* 이미지 컨테이너 테이블 */
#table-container {
    text-align: center;
    margin: auto;
    padding: 0 0 15px 0;
}

/* 이미지 박스 */
.div-images {
    background-color: #C6C6C6;
    margin: 8px;
    height: 170px;
    width: 170px;
}

/* 포트폴리오 없을 경우 안내 문구 */
#div-alert {
    text-align: center;
    font-size: 1.8em;
    color: #75B9DA;
}
