/* 고객 후기  */


/* 버튼 및 리뷰 컨테이너 */
#div-container {
    margin: 0 0 50px 0;
}

/* 버튼 컨테이너 테이블 */
#table-container-01 {
    text-align: center;
    padding: 10px 0 10px 320px;
}

/* 리뷰 컨테이너 테이블 */
#table-container-02 {
    text-align: center;
    margin: auto;
}

#table_menu3 {
    border-spacing: 140px 0;
    border-collapse: separate;
}

#table_menu4 {
    border-spacing: 75px 0;
    border-collapse: separate;
}

/* 버튼 */
.btn-btns {
    -webkit-text-stroke: 0.35px;
    text-align: center;
    font-size: 0.7em;
    letter-spacing: 0.4em;
    background: white;
    color: gray;
    margin: 10px;
    padding: 0.5em 1em 0.5em 1em;
    border: none;
    height: 30px;
    width: 115px;
    cursor: pointer;
    position: relative;
}

.btn-btns::before {
    content: "";
    height: 2px;
    width: 0;
    background-color: gray;
    border-radius: 30px;
    transition: 0.3s;
    position: absolute;
    bottom: 0;
    left: 13%;
}

.btn-btns:hover::before {
    width: 70%;
    background-color: #74BAD8;
}

/* 현재 탭 버튼 */
#btn-selected-now {
    -webkit-text-stroke: 0.35px;
    text-align: center;
    font-size: 0.7em;
    letter-spacing: 0.4em;
    color: #131E3E;
    margin: 10px;
    padding: 0.5em 1em 0.5em 1em;
    border: none;
    height: 30px;
    width: 115px;
    cursor: pointer;
    position: relative;
    background-color: transparent;
}

#btn-selected-now::before {
    content: "";
    height: 2px;
    width: 70%;
    background-color: #131E3E;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
    left: 13%;
}

/* 이미지 박스 */
.div-images {
    background-color: #C6C6C6;
    margin: 10px;
    height: 200px;
    width: 200px;
}

/* 리뷰 별점 */
.p-star-rating {
    color: #74B9D8;
   letter-spacing: 0.25em;
    margin: 0 0 10px 0;
}

/* 리뷰 날짜 */
.p-date {
    font-size: 0.2em;
    letter-spacing: 0.25em;
    margin: 0 0 20px 0;
}