
{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- 홈 배너 -->
<img style="position: relative; z-index: -1;" src="/static/images/homeBanner.png" width="100%" height="100%">
<div>
    <table style="position: relative; z-index: 1; margin: -220px 0 0 270px; text-align: center; border-spacing: 0px;">
        <tr>
            <td colspan="3">
                <p style="margin: 1.7em 0 0.5em 0; font-weight:bold; font-size:20px; color:#0B173B;">원하는 공정을 선택하세요</p>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'itrencotech:onlyIdea' %}">
                <img src="/static/images/onlyIdeaIcon.png" height="200px" width="200px" alt="image"/></a>
            </td>
            <td>
                <a href="{% url 'itrencotech:prototyping' %}">
                <img src="/static/images/prototypingIcon.png" height="200px" width="200px" alt="image"/></a>
            </td>
            <td>
                <a href="{% url 'itrencotech:body_production_home' %}" >
                <img src="/static/images/productionIcon.png" height="200px" width="200px" alt="image"/></a>
            </td>
        </tr>
        <tr>
            <td>
                <p style="margin: 0; font-weight: bold; font-size: 22px; color: #0B173B;">ONLY IDEA</p>
            </td>
            <td>
                <p style="margin: 0; font-weight: bold; font-size: 22px; color: #0B173B;">시제품 제작</p>
            </td>
            <td>
                <p style="margin: 0; font-weight: bold; font-size: 22px; color: #0B173B;">양 산</p>
            </td>
        </tr>
    </table>
</div>

<!-- 챗봇 아이콘 -->
<div id="contents" align="right" style="margin-right: 100px;">
    <img src="/static/images/chat-bot-icon1.png" width="100px" alt="image"/>
</div>

{% endblock %}
