<!-- 내비게이션 바 -->
<nav>
    <a href="{% url 'itrencotech:index' %}">make it</a>

    <div id="navbarNav">
        <ul>
            <li>
                <a href="{% url 'itrencotech:navbar_about_ceo' %}">회사소개</a>
                <ul>
                    <a href="{% url 'itrencotech:navbar_about_ceo' %}">CEO 인사말</a>
                    <a href="{% url 'itrencotech:navbar_about_ideology' %}">기업이념</a>
                    <a href="{% url 'itrencotech:navbar_about_history' %}">회사 연혁</a>
                    <a href="{% url 'itrencotech:navbar_about_route' %}">찾아오시는 길</a>
                </ul>
            </li>
            <li>
                <a href="{% url 'itrencotech:portfolio' %}">포트폴리오</a>
                <ul>
                    <a href="{% url 'itrencotech:portfolio_3d' %}">3D 프린팅</a>
                    <a href="{% url 'itrencotech:portfolio_mockup' %}">목업</a>
                    <a href="{% url 'itrencotech:portfolio_cnc' %}">CNC</a>
                    <a href="{% url 'itrencotech:portfolio_mold' %}">사출/금형</a>
                </ul>
            </li>
            <li><a href="{% url 'itrencotech:review' %}">후기</a></li>
            <li><a href="#">로그인</a></li>
        </ul>
    </div>
    <br>

</nav>