<!-- 내비게이션 바 -->

<style type="text/css">
    #header a{text-decoration:none; color:black; transition :color .25s ease-in-out;}
    #header a:hover{color:#ff0000;}
    #header{background:white; height:55px; border-bottom:1px solid gray;}
    .header_wrap{ width:100%; margin:0 auto;  position:absolute;}
    #logo{float:left; margin:0; padding:15px 0 0 150px !important;}

    nav ul{width:100%; list-style-type:none; padding:0; }
    nav {margin-right:50px;}


    .left {float:left; margin-left:30px; padding:0px 20px 0px 20px; }
    .right {float:right;}


    .submenu li {text-align:center; visibility:hidden; height:0px; transition:height 0.35s ease;}
    .gnb>li:hover .submenu li {background-color:white; visibility:visible; height:40px;}


    .gnb>li a{ line-height:40px; }

    #order a {color:#F6F6F6; background-color:#000054; border-radius: 8px; padding: 5px 15px 5px 15px;}

</style>

<div id="header" >
    <div class="header_wrap" >
        <h1 id="logo"><a href="{% url 'itrencotech:index' %}">
            <img src="/static/images/make it.png" width="140px" height="30px">
        </a></h1>
        <nav id="nav">
            <ul class="gnb">
                <li class="left" id="drop">
                    <a href="{% url 'itrencotech:navbar_about_ceo' %}">　　회사소개　　</a>
                    <ul class="submenu">
                        <li><a href="{% url 'itrencotech:navbar_about_ceo' %}">CEO 인사말</a></li>
                        <li><a href="{% url 'itrencotech:navbar_about_ideology' %}">기업이념</a></li>
                        <li><a href="{% url 'itrencotech:navbar_about_history' %}">회사 연혁</a></li>
                        <li><a href="{% url 'itrencotech:navbar_about_route' %}">찾아오시는 길</a></li>
                    </ul>
                </li>

                <li class="left"><a href="{% url 'itrencotech:portfolio' %}">포트폴리오</a></li>

                <li class="left"><a href="{% url 'itrencotech:review_best' %}">후기</a></li>

                <li class="left" id="order"><a href="{% url 'itrencotech:order_home' %}">주문하기</a></li>


                <li class="right"><a href="{% url 'itrencotech:mypage_home' %}">
                    {% if user.is_authenticated %}
                        {{ user.username }}님
                        <img src="/static/images/myIcon.png" width="21px" height="19px"></a>
                        <a href="{% url 'common:logout' %}" style="margin-left: 10px;">로그아웃</a>
                    {% else %}
                        <a href="{% url 'common:login' %}">로그인</a></li>
                    {% endif %}

           </ul>
        </nav>
    </div>
</div>