{% load static %}
<!-- header -->
{% include 'body/header.html' %}

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/myPage.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
<!-- 타이틀 -->
<title>마이페이지</title>
<!-- middle(header에서 닫지 못한 태그 등) -->
{% include 'body/middle.html' %}

<!-- ########## 기본 템플릿 안에 삽입될 내용 start ########## -->
{% block content %}
{% endblock %}
<!-- ########## 기본 템플릿 안에 삽입될 내용 end ########## -->

<!-- footer -->
{% include 'body/footer.html' %}

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">
    // function changeDiv1() {
    //     // 나의 주문내역
    //     var con1 = document.getElementById("content1");
    //     // 내정보
    //     var con2 = document.getElementById("content2");

    //     if (con1.style.display == 'none' && con2.style.display =='block') {
    //         con1.style.display = 'block';
    //         con2.style.display = 'none';
    //     } else {
    //         con1.style.display = 'none';
    //         con2.style.display = 'block';
    //     }
    // };

    function changeDiv() {
        // main
        var con1 = document.getElementById("content1");
        // 내정보
        var con2 = document.getElementById("content2");
        // 나의 주문내역
        var con3 = document.getElementById("content3");

        // 나의 주문내역 체크여부 변수
        var checked1 = document.querySelector('input[id="button1"]').checked;
        // 내정보 체크여부 변수
        var checked2 = document.querySelector('input[id="button2"]').checked;

        // 나의주문내역 체크된 경우
        if (checked1 && !checked2) {
            con1.style.display = 'none'; // 숨기기
            con2.style.display = 'none';
            con3.style.display = 'block'; // 보여주기
        }
        // 내정보 체크된 경우
        else if (checked2 && !checked1){
            con1.style.display = 'none';
            con2.style.display = 'block';
            con3.style.display = 'none';
        }
        // main 아무것도 클릭 안했을 때
        else if(!checked1 && !checked2){
            con1.style.display = 'none';
            con2.style.display = 'none';
            con3.style.display = 'block';
        }

    };

    const btnUpdatePhoneNum = document.getElementById("btn-update-phone-num");
    const btnUpdateCompanyName = document.getElementById("btn-update-company-name");

    btnUpdatePhoneNum.addEventListener("click", e => {
        var gsWin = window.open("about:blank", "winName", "width=400, height=400, top=100, left=300");
        var fr = document.getElementById("server");
        fr.action = "update/pn/";
        fr.target = "winName";
        fr.submit();
    });

    btnUpdateCompanyName.addEventListener("click", e => {
        var gsWin = window.open("about:blank", "winName", "width=400, height=400, top=100, left=300");
        var fr = document.getElementById("server");
        fr.action = "update/cn/";
        fr.target = "winName";
        fr.submit();
    });
</script>