<div>
    <div id="div-title-container" align="center" style="margin-bottom:100px;">
        <div>
            <h1 id="h1-title"> 마이페이지 </h1>
        </div>
    </div>
    <table id="table_menu3">
        <tr>
            <td>
                <img src="/static/images/onlyIdeaIcon.png" height="240px" width="240px" alt="image"/>
                <p style="font-weight:bold; font-size:22px; color:#0B173B;">주문 내역</p>
            </td>
            <td>
                <img src="/static/images/prototypingIcon.png" height="240px" width="240px" alt="image"/>
                <p style="font-weight:bold; font-size:22px; color:#0B173B;">배송 중</p>
            </td>
            <td>
                <img src="/static/images/productionIcon.png" height="240px" width="240px" alt="image"/>
                <p style="font-weight:bold; font-size:22px; color:#0B173B;">주문 완료</p>
            </td>
        </tr>
    </table>
</div>