<div style="margin-top: 40px;">
    <div>
        <table id="shipping-info">
            <thead>
                <tr class="table100-head">
                    <th class="column1">시간</th>
                    <th class="column2">현재위치</th>
                    <th class="column3">배송상태</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td class="column1">2022.01.09 02:50</td>
                        <td class="column2">고양1HUB</td>
                        <td class="column3">집하</td>
                    </tr>
                    <tr>
                        <td class="column1">2022.01.09 02:50</td>
                        <td class="column2">고양1HUB</td>
                        <td class="column3">센터상차</td>
                    </tr>
                    <tr>
                        <td class="column1">2022.01.09 04:08</td>
                        <td class="column2">시흥2XHUB</td>
                        <td class="column3">센터도착</td>
                    </tr>
                    <tr>
                        <td class="column1">2022.01.09 04:13</td>
                        <td class="column2">시흥2XHUB</td>
                        <td class="column3">캠프도착</td>
                    </tr>
                    <tr>
                        <td class="column1">2022.01.09 07:53</td>
                        <td class="column2">안산1 (경기 시흥시)</td>
                        <td class="column3">배송출발</td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>