<style>
    .container {
        height: 100%;
        min-height: 100%;
        margin: 0 auto;
    }

    .button-wrap {
        position: relative;
        text-align: center;
        top: 50%;
        right: 25%;
        margin-top: -2.5em;
    }

    .button-label {
        display: inline-block;
        padding: 0.7em;
        margin: 0 1em;
        cursor: pointer;
        color: black;
        border-radius: 0.25em;
        background: white;
        transition: 0.3s;
        letter-spacing: 2px;
        border-radius: 17px;
    }

    .hidden {
        display: none;
    }

    #button1:checked+.button-label {
        text-decoration: underline;
        font-weight: bold;
        font-size: 17px;
    }

    #button2:checked+.button-label {
        text-decoration: underline;
        font-weight: bold;
        font-size: 17px;
    }
</style>

<link rel="stylesheet" type="text/css" href="/static/css/myPage_body.css">

<script src="http://code.jquery.com/jquery-latest.js"></script>

<script type="text/javascript">


    function changeDiv() {
        // main
        var con1 = document.getElementById("content1");
        // 내정보
        var con2 = document.getElementById("content2");
        // 나의 주문내역
        var con3 = document.getElementById("content3");

        // 나의 주문내역 체크여부 변수
        var checked1 = document.querySelector('input[id="button1"]').checked;
        // 내정보 체크여부 변수
        var checked2 = document.querySelector('input[id="button2"]').checked;

        // 나의주문내역 체크된 경우
        if (checked1 && !checked2) {
            con1.style.display = 'none'; // 숨기기
            con2.style.display = 'none';
            con3.style.display = 'block'; // 보여주기
        }
        // 내정보 체크된 경우
        else if (checked2 && !checked1){
            con1.style.display = 'none';
            con2.style.display = 'block';
            con3.style.display = 'none'; //
        }
        // main 아무것도 클릭 안했을 때
        else if(!checked1 && !checked2){
            con1.style.display = 'none';
            con2.style.display = 'none';
            con3.style.display = 'block';
        }

    };
</script>

<!-- main : content1, 내정보 : content2, 나의주문내역 : content3 / button1 : 나의주문내역, button2: 내정보 -->

<!-- 나의 주문 내역 / 내 정보 -->
<div style="padding:70px 0 50px 0;">
    <!-- 메뉴 버튼 / 이미지에서 텍스트로 변경해야함-->
    <div class="container" style="width:500px; padding-right: 20%;">
        <div class="button-wrap">
            <input class="hidden radio-label" id="button1" onclick="changeDiv()" type="radio" name="accept-offers" />
            <label class="button-label" for="button1" >나의 주문 내역</label>
            <input class="hidden radio-label" id="button2" onclick="changeDiv()" type="radio"  name="accept-offers" />
            <label class="button-label" for="button2" >내 정보</label>

        </div>
    </div>

    <!-- 아무것도 클릭 안했을 때 -->
    <div align="center" id="content1" >
        <div
            style="width:850px; height: 200px; margin-top: 10px; border: 1px solid rgb(187, 186, 186);border-radius: 50px; ">
            <div>
                <div style="padding-right: 70%; padding-top: 70px; font-weight: bold; font-size: 20px; width: 150px;" >
                    작품 제목 넣기
                </div>
                <div style="padding-right: 70%; padding-top: 20px;font-weight: bold;width: 129px;">
                    <img src="/static/images/view_order.png" style="width: auto;" />
                </div>
            </div>

            <div align="center" style="position: relative; bottom: 70px; right: 12.5%;"
            >
                <div style="font-weight: bold; font-size: 22px;">
                    2022.01.12 주문
                </div>

            </div>

            <div align="center" style="position: relative; bottom: 110px; left: 12.5%; width: 150px;"
            >
                <div style="font-weight: bold; font-size: 30px;">
                    배송 진행중
                </div>


            </div>

            <div align="center" style="position: relative; bottom: 180px; left: 35%; width: 150px;"
            >
                <div style="font-weight: bold; font-size: 30px;">
                    <img src="/static/images/delivery_tracking.png" style="width: auto;" />
                    <img src="/static/images/exchange_return.png" style="width: auto;" />
                    <img src="/static/images/review.png" style="width: auto;" />
                </div>


            </div>

        </div>
    </div>

    <div align="center" id="content3" style="display: none;" >
        <div
            style="width:850px; height: 200px; margin-top: 10px; border: 1px solid rgb(187, 186, 186);border-radius: 50px; ">
            <div>
                <div style="padding-right: 70%; padding-top: 70px; font-weight: bold; font-size: 20px; width: 150px;" >
                    나의 주문내역
                </div>
                <div style="padding-right: 70%; padding-top: 20px;font-weight: bold;width: 129px;">
                    <img src="/static/images/view_order.png" style="width: auto;" />
                </div>
            </div>

            <div align="center" style="position: relative; bottom: 70px; right: 12.5%;"
            >
                <div style="font-weight: bold; font-size: 22px;">
                    나의 주문내역
                </div>

            </div>

            <div align="center" style="position: relative; bottom: 110px; left: 12.5%; width: 150px;"
            >
                <div style="font-weight: bold; font-size: 30px;">
                    배송 진행중
                </div>


            </div>

            <div align="center" style="position: relative; bottom: 180px; left: 35%; width: 150px;"
            >
                <div style="font-weight: bold; font-size: 30px;">
                    <img src="/static/images/delivery_tracking.png" style="width: auto;" />
                    <img src="/static/images/exchange_return.png" style="width: auto;" />
                    <img src="/static/images/review.png" style="width: auto;" />
                </div>


            </div>

        </div>
    </div>


    <!-- 내 정보 -->
    <div align="center" id="content2" style="display: none;">
        <div
            style="width:850px; height: 200px; margin-top: 10px; border: 1px solid rgb(187, 186, 186);border-radius: 50px; ">
            <div>
                <div style="padding-right: 70%; padding-top: 70px; font-weight: bold; font-size: 20px; width: 150px;" >
                    내 정보 내 정보
                </div>
                <div style="padding-right: 70%; padding-top: 20px;font-weight: bold;width: 129px;">
                    <img src="/static/images/view_order.png" style="width: auto;" />
                </div>
            </div>

            <div align="center" style="position: relative; bottom: 70px; right: 12.5%;"
            >
                <div style="font-weight: bold; font-size: 22px;">
                    내 정보 내 정보
                </div>

            </div>

            <div align="center" style="position: relative; bottom: 110px; left: 12.5%; width: 150px;"
            >
                <div style="font-weight: bold; font-size: 30px;">
                    배송 진행중
                </div>


            </div>

            <div align="center" style="position: relative; bottom: 180px; left: 35%; width: 150px;"
            >
                <div style="font-weight: bold; font-size: 30px;">
                    <img src="/static/images/delivery_tracking.png" style="width: auto;" />
                    <img src="/static/images/exchange_return.png" style="width: auto;" />
                    <img src="/static/images/review.png" style="width: auto;" />
                </div>


            </div>

        </div>
    </div>


</div>