{% extends 'navBar/mypage/mypage_base.html' %}
{% load static %}
{% block content %}

{% include 'navBar/mypage/mypage_header.html' %}


<div align="center">
    <div style="width: 1010px; height: 30px;">
        <!-- 서비스 설명 메뉴 -->
        <table align="left" style="text-align: center;">
            <tr>
                <!-- 나의 주문 내역 -->
                <td>
                    <button type="button" class="btn-menu"
                            onclick="location.href='{% url 'itrencotech:mypage_home' %}'"
                            style="width:100%"> 나의 주문 내역 </button>
                </td>
                <!-- 내 정보 -->
                <td>
                    <button type="button" id="btn-now"
                            onclick="location.href='#"
                            style="width:100%"> 내 정보 </button>
                </td>
            </tr>
        </table>
    </div>


</div>

<div align="center">
    <div style="width: 1010px; height: 800px;">
        <div style="padding:50px 0 0 30px;">
             <!-- 내 정보 -->
            <div align="left" id="content2" style="position:relative;">
                <div style="margin-top: -19px;">
                    <h1>내 정보 수정</h1>
                </div>

                <!-- 개인정보 -->
                <div>
                    <table style="position: relative; margin-top: 3%; border-spacing: 0;
                            border-collapse: collapse; width: 100%;">
                    <tr>
                        <td style="border-bottom: 1px solid rgb(236, 236, 236);
                background-color: rgb(245, 245, 245);
                height: 70px;
                width: 120px;
                text-align: left; padding-left: 3%;">
                            이름
                        </td>
                        <td style="border-bottom: 1px solid rgb(236, 236, 236);
                border-left: 2px solid rgb(180, 179, 179);
                background-color: white; padding-left: 3%; width: 700px;">
                            {% if user.is_authenticated %}
                                {{ user.username }}
                            {% else %}
                                홍길동
                            {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <td style="border-bottom: 1px solid rgb(236, 236, 236);
                background-color: rgb(245, 245, 245);
                height: 70px;
                width: 120px;
                text-align: left; padding-left: 3%; ">
                            휴대전화
                        </td>
                        <td style="border-bottom: 1px solid rgb(236, 236, 236);
                border-left: 2px solid rgb(180, 179, 179);
                background-color: white; padding-left: 3%; ">
                            <div style=" width: auto;  display: inline-block; vertical-align: middle;">
                            {% if user.is_authenticated %}
                                {{ user.phone_num }}
                            {% else %}
                                010-00000000
                            {% endif %}
                        </div>
                            <div style=" width: auto; display: inline-block; width: auto; margin-left: 10%;  vertical-align: middle;">
                                <img src="/static/images/change_phoneNum.png" style=" width: auto; margin-left: 5%;"/>
                            </div>
                        <div style="clear: both;"></div>
                        </td>

                    </tr>

                    <tr>
                        <td style="border-bottom: 1px solid rgb(236, 236, 236);
                background-color: rgb(245, 245, 245);
                height: 70px;
                width: 120px;
                text-align: left; padding-left: 3%;">
                            이메일
                        </td>
                        <td style="border-bottom: 1px solid rgb(236, 236, 236);
                border-left: 2px solid rgb(180, 179, 179);
                background-color: white; padding-left: 3%; ">
                            <div style=" width: auto;  display: inline-block; vertical-align: middle;">
                                {% if user.is_authenticated %}
                                    {{ user.email }}
                                {% else %}
                                    test@test.com
                                {% endif %}
                            </div>
                            <div style=" width: auto; display: inline-block; width: auto; margin-left: 10%;  vertical-align: middle;">
                            <img src="/static/images/change_email.png" style=" width: auto; margin-left: 5%; " /></div>
                        </td>
                    </tr>

                    <tr>
                        <td style="border-bottom: 1px solid rgb(236, 236, 236);
                background-color: rgb(245, 245, 245);
                height: 70px;
                width: 120px;
                text-align: left; padding-left: 3%;">
                            아이디
                        </td>
                        <td style="border-bottom: 1px solid rgb(236, 236, 236);
                border-left: 2px solid rgb(180, 179, 179);
                background-color: white; padding-left: 3%;">
                            <div style=" width: auto;  display: inline-block; vertical-align: middle;">
                                {% if user.is_authenticated %}
                                    {{ user.userid }}
                                {% else %}
                                    test1234
                                {% endif %}
                            </div>
                            <div style=" width: auto; display: inline-block; width: auto; margin-left: 10%;  vertical-align: middle;">
                                <img src="/static/images/change_id.png" style=" width: auto; margin-left: 5%;" />
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="border-bottom: 1px solid rgb(236, 236, 236);
                background-color: rgb(245, 245, 245);
                height: 70px;
                width: 120px;
                text-align: left; padding-left: 3%;">
                            회사명
                        </td>
                        <td style="border-bottom: 1px solid rgb(236, 236, 236);
                border-left: 2px solid rgb(180, 179, 179);
                background-color: white; padding-left: 3%;">
                            <div style=" width: auto; display: inline-block; width: auto;   vertical-align: middle;">
                                {% if user.is_authenticated %}
                                    {{ user.company_name }}
                                {% else %}
                                    테스트회사명
                                {% endif %}
                            </div>
                            <div style=" width: auto; display: inline-block; width: auto; margin-left: 10%;  vertical-align: middle;">
                                <button id="btn-update-company-name" type="button" style="border: 0px; background-color: #fff;">
                                    <img src="/static/images/change_companyName.png" style=" width: auto; margin-left: 5%;" />
                                </button>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="border-bottom: 1px solid rgb(236, 236, 236);
                background-color: rgb(245, 245, 245);
                height: 70px;
                width: 120px;
                text-align: left; padding-left: 3%;">
                            회사주소
                        </td>
                        <td style="border-bottom: 1px solid rgb(236, 236, 236);
                border-left: 2px solid rgb(180, 179, 179);
                background-color: white; padding-left: 3%;">
                            <div style=" width: auto; display: inline-block; width: auto;  vertical-align: middle;">
                                {% if user.is_authenticated %}
                                    {{ user.company_address }}
                                {% else %}
                                    테스트시 테스트구 테스트동
                                {% endif %}
                            </div>
                                <div style=" width: auto; display: inline-block; width: auto; margin-left: 10%;  vertical-align: middle;"><img src="/static/images/change_companyAddress.png" style=" width: auto; margin-left: 5%;" /></div>
                        </td>
                    </tr>

                    <tr>
                        <td style="background-color: rgb(245, 245, 245);
                height: 70px;
                width: 120px;
                text-align: left; padding-left: 3%;">
                            전화
                        </td>
                        <td style="border-left: 2px solid rgb(180, 179, 179);
                background-color: white; padding-left: 3%;">
                        <div style=" width: auto; display: inline-block; width: auto;   vertical-align: middle;">
                            {% if user.is_authenticated %}
                                {{ user.company_tel }}
                            {% else %}
                                031)000-0000
                            {% endif %}
                        </div>
                            <div style=" width: auto; display: inline-block; width: auto; margin-left: 10%;  vertical-align: middle;"><img src="/static/images/change_companyNum.png" style=" width: auto; margin-left: 5%;" /></div>
                        </td>
                    </tr>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}