{% extends 'navBar/mypage/mypage_base.html' %}
{% load static %}
{% block content %}

{% include 'navBar/mypage/mypage_header.html' %}


<div align="center">
    <div style="width: 1010px; height: 30px;">
        <!-- 서비스 설명 메뉴 -->
        <table align="left" style="text-align: center;">
            <tr>
                <!-- 나의 주문 내역 -->
                <td>
                    <button type="button" id="btn-now"
                            onclick="location.href='#'"
                            style="width:100%"> 나의 주문 내역 </button>
                </td>
                <!-- 내 정보 -->
                <td>
                    <button type="button" class="btn-menu"
                            onclick="location.href='{% url 'itrencotech:mypage_info' %}'"
                            style="width:100%"> 내 정보 </button>
                </td>
            </tr>
        </table>
    </div>
</div>

<div>
    <!-- 나의 주문 내역 목록 1 -->
    <div align="center" class="detail-box">
        <div class="mypage-box-top">
            <!-- 작품 제목 및 주문서 -->
            <div class="mypage-mini-box">
                <!-- 작품 제목 -->
                <div class="mypage-title">
                    <!-- 작품 제목 -->
                    <font size="4">작품 제목 넣기</font>
                    <!-- 주문서 보기 버튼 -->
                    <button type="button" class="order-btn">주문서 보기</button>
                </div>
            </div>
            <!-- 주문 날짜 -->
            <div class="mypage-mini-box">
                <div class="mypage-title">
                    <font size="4">2022.01.07 주문</font>
                </div>
            </div>
            <!-- 배송 정보 -->
            <div class="mypage-mini-box">
                <div class="mypage-title">
                    <font size="6">배송 진행 중</font>
                </div>
            </div>
            <!-- 버튼 3개(배송 조회, 교환/반품, 후기) -->
            <div class="mypage-mini-box">
                <div class="mypage-title">
                    <!-- 배송 조회 버튼 -->
                    <button type="button" class="btn-btn3" onclick="location.href='{% url 'itrencotech:mypage_order_history' %}'">배송 조회</button>
                    <!-- 교환/반품 신청 버튼 -->
                    <button type="button" class="btn-btn3">교환/반품 신청</button>
                    <!-- 후기 작성하기 버튼 -->
                    <button type="button" class="btn-btn3">후기 작성하기</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 나의 주문 내역 목록 2 -->
    <div align="center" class="detail-box">
        <div class="mypage-box">
            <!-- 작품 제목 및 주문서 -->
            <div class="mypage-mini-box">
                <!-- 작품 제목 -->
                <div class="mypage-title">
                    <!-- 작품 제목 -->
                    <font size="4">작품 제목 넣기</font>
                    <!-- 주문서 보기 버튼 -->
                    <button type="button" class="order-btn">주문서 보기</button>
                </div>
            </div>
            <!-- 주문 날짜 -->
            <div class="mypage-mini-box">
                <div class="mypage-title">
                    <font size="4">2022.01.02 주문</font>
                    <div class="mypage-arrive-date">
                        <font size="4">2022.01.03 도착</font>
                    </div>
                </div>
            </div>
            <!-- 배송 정보 -->
            <div class="mypage-mini-box">
                <div class="mypage-title">
                    <font size="6">배송 완료</font>
                </div>
            </div>
            <!-- 버튼 3개(배송 조회, 교환/반품, 후기) -->
            <div class="mypage-mini-box">
                <div class="mypage-title">
                    <!-- 배송 조회 버튼 -->
                    <button type="button" class="btn-btn3">배송 조회</button>
                    <!-- 교환/반품 신청 버튼 -->
                    <button type="button" class="btn-btn3">교환/반품 신청</button>
                    <!-- 후기 작성하기 버튼 -->
                    <button type="button" class="btn-btn3">후기 작성하기</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 나의 주문 내역 목록 3 -->
    <div align="center" class="detail-box">
        <div class="mypage-box">
            <!-- 작품 제목 및 주문서 -->
            <div class="mypage-mini-box">
                <!-- 작품 제목 -->
                <div class="mypage-title">
                    <!-- 작품 제목 -->
                    <font size="4">작품 제목 넣기</font>
                    <!-- 주문서 보기 버튼 -->
                    <button type="button" class="order-btn">주문서 보기</button>
                </div>
            </div>
            <!-- 주문 날짜 -->
            <div class="mypage-mini-box">
                <div class="mypage-title">
                    <font size="4">2021.06.05 주문</font>
                    <div class="mypage-arrive-date">
                        <font size="4">2021.06.08 도착</font>
                    </div>
                </div>
            </div>
            <!-- 배송 정보 -->
            <div class="mypage-mini-box">
                <div class="mypage-title">
                    <font size="6">배송 완료</font>
                </div>
            </div>
            <!-- 버튼 3개(배송 조회, 교환/반품, 후기) -->
            <div class="mypage-mini-box">
                <div class="mypage-title">
                    <!-- 배송 조회 버튼 -->
                    <button type="button" class="btn-btn3">배송 조회</button>
                    <!-- 교환/반품 신청 버튼 -->
                    <button type="button" class="btn-btn3">교환/반품 신청</button>
                    <!-- 후기 작성하기 버튼 -->
                    <button type="button" class="btn-btn3">후기 작성하기</button>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}