{% extends 'navBar/mypage/mypage_base.html' %}
{% load static %}
{% block content %}

{% include 'navBar/mypage/mypage_header.html' %}


<div align="center">
    <div style="width: 1010px; height: 30px;">
        <!-- 서비스 설명 메뉴 -->
        <table align="left" style="text-align: center;">
            <tr>
                <!-- 나의 주문 내역 -->
                <td>
                    <button type="button" class="btn-menu"
                            onclick="location.href='{% url 'itrencotech:mypage_order_history' %}'"
                            style="width:100%"> 나의 주문 내역 </button>
                </td>
                <!-- 내 정보 -->
                <td>
                    <button type="button" id="btn-now"
                            onclick="location.href='#"
                            style="width:100%"> 내 정보 </button>
                </td>
            </tr>
        </table>
    </div>


</div>

<div align="center">
    <div style="width: 1010px; height: 800px;">
        <div style="padding:50px 0 0 30px;">
             <!-- 내 정보 -->
            <div align="left" id="content2" style="position:relative;">
                <!-- 내 정보 수정 이미지 -->
                <div>
                    <a href="{% url 'itrencotech:myPage_update_info' %}">
                        <img src="/static/images/edit_my_information.png" style="width: auto;" />
                    </a>
                </div>

                <!-- 개인정보 -->
                <div>
                    <table style="position: relative; margin-top: 3%; border-spacing: 0;
                            border-collapse: collapse; width: 100%;">
                        <tr>
                            <td style="border-bottom: 1px solid rgb(236, 236, 236);
                            background-color: rgb(245, 245, 245);
                            height: 70px;
                            width: 120px;
                            text-align: left; padding-left: 3%;">
                                이름
                            </td>
                            <td style="border-bottom: 1px solid rgb(236, 236, 236);
                            border-left: 2px solid rgb(180, 179, 179);
                            background-color: white; padding-left: 3%; width: 700px;">
                                {% if user.is_authenticated %}
                                    민경찬
                                {% else %}
                                    민경찬
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td style="border-bottom: 1px solid rgb(236, 236, 236);
                            background-color: rgb(245, 245, 245);
                            height: 70px;
                            width: 120px;
                            text-align: left; padding-left: 3%;">
                                휴대전화
                            </td>
                            <td style="border-bottom: 1px solid rgb(236, 236, 236);
                            border-left: 2px solid rgb(180, 179, 179);
                            background-color: white; padding-left: 3%;">
                                010-1234-5678
                            </td>
                        </tr>

                        <tr>
                            <td style="border-bottom: 1px solid rgb(236, 236, 236);
                            background-color: rgb(245, 245, 245);
                            height: 70px;
                            width: 120px;
                            text-align: left; padding-left: 3%;">
                                이메일
                            </td>
                            <td style="border-bottom: 1px solid rgb(236, 236, 236);
                            border-left: 2px solid rgb(180, 179, 179);
                            background-color: white; padding-left: 3%;">
                                {% if user.is_authenticated %}
                                    {{ user.email }}
                                {% else %}
                                    mkc@itrencotech.com
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td style="border-bottom: 1px solid rgb(236, 236, 236);
                            background-color: rgb(245, 245, 245);
                            height: 70px;
                            width: 120px;
                            text-align: left; padding-left: 3%;">
                                아이디
                            </td>
                            <td style="border-bottom: 1px solid rgb(236, 236, 236);
                            border-left: 2px solid rgb(180, 179, 179);
                            background-color: white; padding-left: 3%;">
                                {% if user.is_authenticated %}
                                    {{ user.username }}
                                {% else %}
                                    mkc1234
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td style="border-bottom: 1px solid rgb(236, 236, 236);
                            background-color: rgb(245, 245, 245);
                            height: 70px;
                            width: 120px;
                            text-align: left; padding-left: 3%;">
                                회사명
                            </td>
                            <td style="border-bottom: 1px solid rgb(236, 236, 236);
                            border-left: 2px solid rgb(180, 179, 179);
                            background-color: white; padding-left: 3%;">
                                (주)make it
                            </td>
                        </tr>

                        <tr>
                            <td style="border-bottom: 1px solid rgb(236, 236, 236);
                            background-color: rgb(245, 245, 245);
                            height: 70px;
                            width: 120px;
                            text-align: left; padding-left: 3%;">
                                회사주소
                            </td>
                            <td style="border-bottom: 1px solid rgb(236, 236, 236);
                            border-left: 2px solid rgb(180, 179, 179);
                            background-color: white; padding-left: 3%;">
                                경기도 시흥시 산기대학로 237 한국산업기술대학교 창업보육센터 207
                            </td>
                        </tr>

                        <tr>
                            <td style="background-color: rgb(245, 245, 245);
                            height: 70px;
                            width: 120px;
                            text-align: left; padding-left: 3%;">
                                전화
                            </td>
                            <td style="border-left: 2px solid rgb(180, 179, 179);
                            background-color: white; padding-left: 3%;">
                                031)431-0635
                            </td>
                        </tr>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}