<!--/accounts/templates/accounts/error.html-->
{% extends 'base2.html' %}
{% load static %}
{% block content %}

    {% if err < 2 %}        <!-- 회원가입 오류 -->
        <h6>회원가입에 오류가 발생하였습니다 5초후 회원가입페이지로 돌아갑니다.</h6>
        {% if err == 0 %}
            <p> 중복된 아이디가 존재합니다 </p>
        {% else %}
            <p> 1차 비밀번호와 2차 비밀번호가 다릅니다. </p>
        {% endif %}
        <meta http-equiv="refresh" content="5; {% url 'signup' %}">
    {% elif err ==2 %}      <!-- 로그인 오류 -->
        <h6>로그인에 오류가 발생하였습니다 5초후 로그인페이지로 돌아갑니다.</h6>
        <p> 아이디가 존재하지 않거나 비밀번호가 틀립니다. 다시 확인해주세요 </p>
        <meta http-equiv="refresh" content="5; {% url 'common:login_main' %}">
    {% endif %}

{% endblock %}