{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/find.css' %}">

<div id="div-title-container" >
    <h1 id="h1-title"> 아이디 찾기 </h1>
</div>

<div id="div-logo-container">
    <div id="div-logo"></div>
</div>

<div id="div-container">
    <img id="img-route" src="{% static 'images/login/findingId02.png' %}" 
    height="31px" width="298px" alt="현재 과정: 아이디 찾기"/>
    <br>

    <div id="div-wrapper">
        <div>
            <p class="p-txt"> 본 {{by}}로 가입된 아이디는 다음과 같습니다. </p>
        </div>

        <table id="table-id-list-02">
            {% if users %}
            {% for user in users %}
            <tr>
                <td>
                    <p class="p-id-list-txt-01"> {{ forloop.counter }} </p>
                </td>
                <td>
                    <p class="p-id-list-txt-02"> {{ user.userid }} </p>
                </td>
                <td>
                    <p class="p-id-list-txt-03"> 가입일　{{ user.created_date.year }}.{{ user.created_date.month }}.{{ user.created_date.day }} </p>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>

        <button type="button" id="btn-login" onclick="location.href='{% url 'common:login_main' %}'">
            로그인 창으로 이동
        </button>
        <br>
        <a id="a-find-btn" href="{% url 'common:find_passwd' %}"> 비밀번호 찾기 </a>
    </div>
</div>

{% endblock %}