{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>findId PAGE</title>

    <style>
        .login {
            width: 500px;
            margin: 10px auto auto auto;
            text-align: center;
        }
        .name {
            color: black;
                width: 500px;
                height: 30px;
                border-radius: 10px;
                text-align: center;
        }
        .subname {
            color: black;
            width:500px;
            height:60px;
            text-align:center;
            letter-spacing:1px;
           }
    </style>
</head>
<body>
    <div id="div-title-container" >
        <h1 id="h1-title"> 아이디 찾기 </h1>
    </div>

    <div id="div-logo-container">
        <div id="div-logo"></div>
    </div>

    <div class="login">
        <img src="/static/images/findingId.png" height="42px" width="404px" alt="image"/>

        <a href="/login/findId" >
	    <img src="/static/images/usePhone.png" height="121px" width="436px" alt="image"/></a>


        <a href="/login/findId" >
	    <img src="/static/images/useEmail.png" height="121px" width="436px" alt="image"/></a>




    </div>
</body>
</html>

{% endblock %}