{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/find.css' %}">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="{% static 'js/selectDate.js' %}"></script>
<script src="{% static 'js/directInput.js' %}"></script>

<div id="div-title-container" >
    <h1 id="h1-title"> 아이디 찾기 </h1>
</div>

<div id="div-logo-container">
    <div id="div-logo"></div>
</div>

<div id="div-container">
    <img id="img-route" src="{% static 'images/login/findingId01.png' %}" 
    height="31px" width="298px" alt="현재 과정: 본인확인"/>
    <br>

    <div id="div-wrapper-email">
        <div>
            <p class="p-txt" id="p-txt-email-large"> 이메일 인증 </p>
        </div>

        <table id="table-email">
            <tr>
                <td id="td-txt" colspan="4">
                    <p class="p-small-txt"> 이메일 </p>
                </td>
            </tr>

            <tr>
                <td id="td-email" colspan="3">
                    <input id="input-email-01"name="email1" type="text" > @
                    <input id="input-email-02" name="email2" type="text" placeholder="직접 입력">
                    <select name="select_email" onChange="selectEmail(this)">
                        <option value="1" selected> 직접 입력 </option>
                        <option value="naver.com"> naver.com </option>
                        <option value="gmail.com"> gmail.com</option>
                        <option value="daum.net"> daum.net </option>
                    </select>
                </td>
                <td>
                    <button id="btn-certification" type="button" onclick="location.href='#'"> 인증 </button>
                </td>
            </tr>

            <tr><td colspan="4"> 　 </td></tr>

            <tr>
                <td>
                    <p class="p-small-txt"> 인증번호 </p>
                </td>
                <td class="td-input" colspan="3">
                    <input id="input-email-03">
                </td>
            </tr>
        </table>
        
        <button type="button" id="btn-confirm-01" onclick="location.href='{% url 'common:find_id_list_by_email' %}'"> 확 인 </button>
    </div>
</div>

{% endblock %}