{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/find.css' %}">

<div id="div-title-container">
    <h1 id="h1-title"> 아이디 / 비밀번호 찾기 </h1>
</div>

<div id="div-logo-container">
    <div id="div-logo"></div>
</div>

<table id="table-btns-container">
    <tr>
        <td>
            <a class="a-btns" href="{% url 'common:find_id' %}">
                <img src="{% static 'images/login/findIdIcon.png' %}" 
                height="203px" width="200px" alt="아이디 찾기"/>
            </a>
        </td>
        <td>
            <a class="a-btns" href="{% url 'common:find_passwd' %}">
                <img src="{% static 'images/login/findPasswdIcon.png' %}"
                height="203px" width="200px" alt="비밀번호 찾기"/>
            </a>
        </td>
    </tr>   
</table>

{% endblock %}