{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/find.css' %}">

<div id="div-title-container" >
    <h1 id="h1-title"> 비밀번호 찾기 </h1>
</div>

<div id="div-logo-container">
    <div id="div-logo"></div>
</div>

<div id="div-container">
    <img id="img-route" src="{% static 'images/login/findingPasswd02.png' %}" 
    height="31px" width="500px" alt="현재 과정: 본인확인"/>
    <br>

    <div id="div-wrapper">
        <p class="p-txt"> 등록된 메일로 인증번호가 발송되었습니다. </p>
        <table id="table-certf-num">
            <tr>
                <td>
                    <p class="p-small-txt"> 인증번호 </p>
                </td>
                <td>
                    <input id="input-certf-num">
                </td>
            </tr>   
        </table>
        <button type="button" id="btn-confirm-01" onclick="location.href='{% url 'itrencotech:find_passwd_completed' %}'"> 확 인 </button>
    </div>
</div>

{% endblock %}