{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN PAGE</title>
    <style>
        .back {
            position: relative;
            text-align:center;
            margin:-200px 0 0 0 ;
            z-index:-1;
        }
        .back .login {
            width: 500px;
            margin: auto auto auto auto;
            text-align: center;
            position: absolute;
            top:240px;
            left:500px;
            z-index:1;
        }


    </style>
</head>
<body>
<img src="/static/images/loginBanner.png" width="100%" height="100%">
<div class="back">
    <img src="/static/images/loginBackground.png" >
        <div class="login">


            <p><input type="id" placeholder="아이디" ></p>
            <p><input type="password" placeholder="비밀번호"></p>

            <a href="/login/" >
                <img src="/static/images/loginButton.png" width="140px" height="30px"></a> <br><br>

            <a href="/login/findIdPasswd">아이디/비밀번호 찾기</a>
            <a href="/login/signUp">회원가입</a>
        </div>
</div>
</body>
</html>
{% endblock %}