{% load static %}
<script src="{% static 'js/showPasswd.js' %}"></script>

<div id="div-wrapper">
    <div id="div-signup">
<!--        {{error}}-->
        <form method="post" class="post-form" action="{% url 'common:signUp2' %}">
            {% csrf_token %}
            {% include 'form_errors.html' %}
            <table>
                <tr>
                    <td>
                        <p class="p-signup-txt"> 이름 </p>
                        <input type="text" name="username" id="username" placeholder="이름"
                                value="{{ form.username.value|default_if_none:'' }}">
                    </td>
                    <td>
                        <p class="p-signup-txt"> 회사명 </p>
                        <input type="text" name="company_name" id="company_name" placeholder="회사명"
                                value="{{ form.company_name.value|default_if_none:'' }}">
                    </td>
                </tr>

                <tr>
                    <td>
                        <p class="p-signup-txt"> 아이디 </p>
                        <input type="text" name="userid" id="userid" placeholder="아이디"
                                value="{{ form.userid.value|default_if_none:'' }}">
                    </td>
                    <td>
                        <p class="p-signup-txt"> 회사 주소 </p>
                        <input type="text" name="company_address" id="company_address" placeholder="회사 주소"
                                value="{{ form.company_address.value|default_if_none:'' }}">
                    </td>
                </tr>

                <tr>
                    <td>
                        <p class="p-signup-txt"> 비밀번호 </p>
                        <div id="div-passwd-container">
                            <input id="input-showed" type="password" name="password1" placeholder="비밀번호"
                                    value="{{ form.password1.value|default_if_none:'' }}">
                            <div id="div-show-container">
                                <div id="div-show-passwd">
                                    <input id="input-show-passwd" type="checkbox" onclick="showPasswd();">
                                    <label for="input-show-passwd"></label>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="p-signup-txt"> 회사 전화 </p>
                        <input type="text" name="company_tel" id="company_tel" placeholder="회사 전화"
                                value="{{ form.company_tel.value|default_if_none:'' }}">
                    </td>
                </tr>

                <tr>
                    <td>
                        <p class="p-signup-txt"> 휴대전화 </p>
                        <input type="text" name="phone_num" id="phone_num" placeholder="휴대전화"
                                value="{{ form.phone_num.value|default_if_none:'' }}">
                    </td>
                    <td>
                        <p class="p-signup-txt"> 이메일 </p>
                        <input type="email" name="email" id="email" placeholder="이메일"
                                value="{{ form.email.value|default_if_none:'' }}">
                    </td>
                </tr>

                <tr>
                    <td>
                        <p class="p-signup-txt"> 비밀번호(확인) </p>
                        <div id="div-passwd-container2">
                            <input id="input-showed2" type="password" name="password2" placeholder="비밀번호"
                                    value="{{ form.password2.value|default_if_none:'' }}">
                        </div>
                    </td>
                </tr>
            </table>
            <button type="submit" value="signup" id="btn-signup" name="signup-submit"> 가입하기 </button>
        </form>
    </div>
</div>