{% extends 'base.html' %}

{% block content %}
    <div>
        <h1 style="position: relative; margin-left: auto; TEXT-ALIGN: center; margin-right: auto; margin-bottom: 50px; font-weight: 400;
        width: 300px;font-size:30px; color: black;"> 양산 </h1>

        <div>
            <div style="border: 1px solid white; float: left; width: 33%; TEXT-ALIGN: center; position: relative; "vertical-align="middle">
                <!--돋보기-->
                <div>
                    <a href="#" style="position: relative; margin-bottom: 10px;" >
                        <img style="position: absolute; left: 60px;" src="/static/images/magnifying_glass.PNG" width="34px" height="34px"  />
                    </a>
                </div>
                <!--이미지-->
                <div style="margin-top: 40px;">
                    <a href="{% url 'itrencotech:body_production_mold' %}">
                        <img style="position: relative; border-radius: 50px;" src="/static/images/mold.png" width="251px" height="251px"  />
                    </a>
                    <!--글자-->
                    <h3 style="TEXT-ALIGN: center ">사출/금형</h3>
                </div>
                <!--포트폴리오-->
                <div style="margin-top: 10px;">
                    <a href="{% url 'itrencotech:portfolio_mold' %}" style="position: relative; margin-bottom: 10px;" >
                        <img style="text-align: center;" src="/static/images/portfolio_move.png" width="144px" height="71px"  />
                    </a>
                </div>

            </div>

            <div style="border: 1px solid white; float: left; width: 33%; TEXT-ALIGN: center">
                <!--돋보기-->
                <div>
                    <a href="#" style="position: relative; margin-bottom: 10px;" >
                        <img style="position: absolute; left: 60px;" src="/static/images/magnifying_glass.PNG" width="34px" height="34px"  />
                    </a>
                </div>
                <!--이미지-->
                <div style="margin-top: 40px;">
                    <a href="{% url 'itrencotech:body_production_cnc' %}">
                        <img style="position: relative;border-radius: 50px;" src="/static/images/cnc.png" width="251px" height="251px"  />
                    </a>
                </div>
                <!--글자-->
                <h3 style="TEXT-ALIGN: center">CNC 부품가공</h3>
                <!--포트폴리오-->
                <div style="margin-top: 10px;">
                    <a href="{% url 'itrencotech:portfolio_cnc' %}" style="position: relative; margin-bottom: 10px;" >
                        <img style="text-align: center;" src="/static/images/portfolio_move.png" width="144px" height="71px"  />
                    </a>
                </div>
            </div>

            <div style="border: 1px solid white; float: left; width: 33%; TEXT-ALIGN: center; position: relative;">
                <!--돋보기-->
                <div>
                    <a href="#" style="position: relative; margin-bottom: 10px;" >
                        <img style="position: absolute; left: 60px;" src="/static/images/magnifying_glass.PNG" width="34px" height="34px"  />
                    </a>
                </div>
                <!--이미지-->
                <div style="margin-top: 40px;">
                    <a href="{% url 'itrencotech:body_production_press' %}">
                        <img style="position: relative;border-radius: 50px;" src="/static/images/product_equipment_design.png" width="251px" height="251px"  />
                    </a>
                </div>
                <!--글자-->
                <h3 style="TEXT-ALIGN: center">판금 절곡</h3>
                <!--포트폴리오-->
                <div style="margin-top: 10px;">
                    <a href="{% url 'itrencotech:portfolio_equipment_design' %}" style="position: relative; margin-bottom: 10px;" >
                        <img style="text-align: center;" src="/static/images/portfolio_move.png" width="144px" height="71px"  />
                    </a>
                </div>
            </div>
        </div>

<!-- =======
    <h1>시제품</h1>
    <div>
        <a href="{% url 'itrencotech:3Dprinting' %}">3D 프린팅</a>
        <a href="{% url 'itrencotech:mockUp' %}">목업</a>
        <a href="{% url 'itrencotech:CNC' %}">CNC 가공</a>
        <a href="{% url 'itrencotech:sheeting_bending' %}">판금 절곡</a>-->
    </div>
{% endblock %}