{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-wdth, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/review.css' %}">

    <title>make it</title>
</head>
<body>
        <!-- 내비게이션바 -->
        {% include 'navBar/navbar.html' %}
        <!-- 기본 템플릿 안에 삽입될 내용 -->
        {% include 'body/main.html' %}

        {% block content %}
        {% endblock %}

</body>
{% include 'body/footer.html' %}
</html>
