<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>홈페이지</title>
</head>
<body>
    <div>
        <a href="/navBar/onlyIdea/onlyIdea">회사소개</a>
        <a href="/navBar/about/ideology">기업이념</a>
        <a href="/navBar/about/history">회사연혁</a>
        <a href="/navBar/about/route">찾아오시는길</a>
    </div>
    <div>
        <a href="/onlyIdea/onlyIdea_home">ONLY IDEA</a>
        <a href="/prototyping/prototyping_home">시제품 제작</a>
        <a href="/production/home">양산</a>
    </div>

</body>
</html>