{% load static %}
<!-- header -->
{% include 'body/header.html' %}

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/review.css' %}">

<!-- 타이틀 -->
<title>make it</title>
<!-- middle(header에서 닫지 못한 태그 등) -->
{% include 'body/middle.html' %}
<!-- 내비게이션바 -->
{% include 'navBar/navbar.html' %}

<!-- ########## 기본 템플릿 안에 삽입될 내용 start ########## -->

<div>
    <div id="div-title-container" align="center" style="margin-bottom:100px;">
        <div>
            <h1 id="h1-title"> 주문하기 </h1>
        </div>
    </div>

    <div id="div-logo-container">
        <div id="div-logo"></div>
    </div>

    <table id="table_menu3" align="center" style="margin-top:0px;">
        <tr>
            <td>
                <a href="{% url 'itrencotech:order_form_onlyIdea' %}" >
                <img src="/static/images/onlyIdeaIcon.png" height="240px" width="240px" alt="image"/></a>
                <p style="font-weight:bold; font-size:22px; color:#0B173B; TEXT-ALIGN: center;">ONLY IDEA</p>
            </td>
            <td>
                <a href="{% url 'itrencotech:order_form_prototyping' %}" >
                <img src="/static/images/prototypingIcon.png" height="240px" width="240px" alt="image"/></a>
                <p style="font-weight:bold; font-size:22px; color:#0B173B; TEXT-ALIGN: center;">시제품 제작</p>
            </td>
            <td>
                <a href="{% url 'itrencotech:order_form_production' %}" >
                <img src="/static/images/productionIcon.png" height="240px" width="240px" alt="image"/></a>
                <p style="font-weight:bold; font-size:22px; color:#0B173B; TEXT-ALIGN: center;">양 산</p>
            </td>
        </tr>
    </table>
</div>

<!-- ########## 기본 템플릿 안에 삽입될 내용 end ########## -->

<!-- footer -->
{% include 'body/footer.html' %}
