{% extends 'base.html' %}

{% block content %}

{% include 'order/order_form_header.html' %}
            <!-- 주문서 제목 -->
            <div style="padding-top:70px;">
                 <font size="8" color="#0b57a5" style="letter-spacing: 5px; font-weight: bold;">
                     < 시제품 제작 주문서 >
                 </font>
            </div>
            <!-- 주문서 별 교체 내용 -->
            <div style="padding:70px 0 50px 0;">
                <!-- 주문서 메뉴 버튼 -->
                <div class="container" style="width:80%;">
                    <div class="button-wrap">
                        <input class="hidden radio-label" id="button1" type="radio" name="accept-offers" checked/>
                        <label class="button-label" for="button1">3D 프린팅 출력</label>
                        <input class="hidden radio-label" id="button2" type="radio" name="accept-offers"/>
                        <label class="button-label" for="button2">목업 (CNC 가공)</label>
                        <input class="hidden radio-label" id="button3" type="radio" name="accept-offers"/>
                        <label class="button-label" for="button3">부품 (CNC 가공)</label>
                        <input class="hidden radio-label" id="button4" type="radio" name="accept-offers"/>
                        <label class="button-label" for="button4">Smart Digital Mold</label>
                    </div>
                </div>
            </div>
{% include 'order/order_form_footer.html' %}

{% endblock %}