
{% extends 'base.html' %}
{% load static %}
{% block content %}

<style type="text/css">

table{

height: 100px;
margin: auto;
text-align: center;
}

</style>

<!-- 홈 배너 -->


<div>
    <div id="div-title-container" align="center" style="margin-bottom:100px;">
        <div>
            <h1 id="h1-title"> 주문하기 </h1>
        </div>
    </div>
    <table id="table_menu3">
        <tr>
            <td>
                <a href="{% url 'itrencotech:order_form_onlyIdea' %}" >
                <img src="/static/images/onlyIdeaIcon.png" height="240px" width="240px" alt="image" style="border-radius: 50px; border: 1px;" /></a>
                <p style="font-weight:bold; font-size:22px; color:#0B173B;">ONLY IDEA</p>
            </td>
            <td>
                <a href="{% url 'itrencotech:order_form_prototyping' %}" >
                <img src="/static/images/prototypingIcon.png" height="240px" width="240px" alt="image"/></a>
                <p style="font-weight:bold; font-size:22px; color:#0B173B;">시제품 제작</p>
            </td>
            <td>
                <a href="{% url 'itrencotech:order_form_production' %}" >
                <img src="/static/images/productionIcon.png" height="240px" width="240px" alt="image"/></a>
                <p style="font-weight:bold; font-size:22px; color:#0B173B;">양 산</p>
            </td>
        </tr>
    </table>
</div>


{% endblock %}
