<!-- CSS -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/order/order_form_header.css' %}">

<script>
    const check = function() {
        const company_name = document.getElementById('company_name').value;
        const business_num = document.getElementById('business_num').value;
        const name = document.getElementById('name').value;
        const email = document.getElementById('email').value;
        const phone_num = document.getElementById('phone_num').value;
        const title = document.getElementById('title').value;
        const description = document.getElementById('description').value;
        const material = document.getElementById('material').value;
        const quantity = document.getElementById('quantity').value;
        const size = document.getElementById('size').value;
        const path = document.getElementById('input_file').value;
        const etc = document.getElementById('etc').value;

        if (company_name === '' || business_num === '' || name == '' || email === '' || phone_num === '' ||
                title == '' || description === '' || material === '' || quantity == ''|| size === '') {
            document.getElementById('span-confirm-message').style.color = 'blue';
            document.getElementById('span-confirm-message').innerHTML = '※ 입력하지 않은 칸이 있습니다.';
            document.getElementById('order-btn').disabled = true;
        } else {
            document.getElementById('span-confirm-message').style.color = 'green';
            document.getElementById('span-confirm-message').innerHTML = '✔ OK.';
            console.log(path);

            document.getElementById('input_file').value = document.selection.createRange().text.toString();
            alert(document.getElementById('input_file').value)

            // var filename = document.getElementById('input_file').value;
            // console.log(filename)

            document.getElementById('order-btn').disabled = false;
        }
    };
</script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $("#input_file").bind('change', function() {
            selectFile(this.files);
        });
    });

    // 파일 리스트 번호
    var fileIndex = 0;
    // 등록할 전체 파일 사이즈
    var totalFileSize = 0;
    // 파일 리스트
    var fileList = new Array();
    // 파일 사이즈 리스트
    var fileSizeList = new Array();
    // 등록 가능한 파일 사이즈 MB
    var uploadSize = 50;
    // 등록 가능한 총 파일 사이즈 MB
    var maxUploadSize = 500;

    $(function() {
        // 파일 드롭 다운
        fileDropDown();
    });

    // 파일 드롭 다운
    function fileDropDown() {
        var dropZone = $("#dropZone");
        //Drag기능
        dropZone.on('dragenter', function(e) {
            e.stopPropagation();
            e.preventDefault();
            // 드롭다운 영역 css
            dropZone.css('background-color', '#E3F2FC');
        });
        dropZone.on('dragleave', function(e) {
            e.stopPropagation();
            e.preventDefault();
            // 드롭다운 영역 css
            dropZone.css('background-color', '#FFFFFF');
        });
        dropZone.on('dragover', function(e) {
            e.stopPropagation();
            e.preventDefault();
            // 드롭다운 영역 css
            dropZone.css('background-color', '#E3F2FC');
        });
        dropZone.on('drop', function(e) {
            e.preventDefault();
            // 드롭다운 영역 css
            dropZone.css('background-color', '#FFFFFF');

            var files = e.originalEvent.dataTransfer.files;
            if (files != null) {
                if (files.length < 1) {
                    /* alert("폴더 업로드 불가"); */
                    console.log("폴더 업로드 불가");
                    return;
                } else {
                    selectFile(files)
                }
            } else {
                alert("ERROR");
            }
        });
    }

    // 파일 선택시
    function selectFile(fileObject) {
        var files = null;

        if (fileObject != null) {
            // 파일 Drag 이용하여 등록시
            files = fileObject;
        } else {
            // 직접 파일 등록시
            files = $('#multipaartFileList_' + fileIndex)[0].files;
        }

        // 다중파일 등록
        if (files != null) {

            if (files != null && files.length > 0) {
                $("#fileDragDesc").hide();
                $("fileListTable").show();
            } else {

                $("fileListTable").hide();
            }

            for (var i = 0; i < files.length; i++) {
                // 파일 이름
                var fileName = files[i].name;
                var fileNameArr = fileName.split("\.");
                // 확장자
                var ext = fileNameArr[fileNameArr.length - 1];

                var fileSize = files[i].size; // 파일 사이즈(단위 :byte)
                console.log("fileSize="+fileSize);
                if (fileSize <= 0) {
                    console.log("0kb file return");
                    return;
                }

                var fileSizeKb = fileSize / 1024; // 파일 사이즈(단위 :kb)
                var fileSizeMb = fileSizeKb / 1024;    // 파일 사이즈(단위 :Mb)

                var fileSizeStr = "";
                if ((1024*1024) <= fileSize) {    // 파일 용량이 1메가 이상인 경우
                    console.log("fileSizeMb="+fileSizeMb.toFixed(2));
                    fileSizeStr = fileSizeMb.toFixed(2) + " Mb";
                } else if ((1024) <= fileSize) {
                    console.log("fileSizeKb="+parseInt(fileSizeKb));
                    fileSizeStr = parseInt(fileSizeKb) + " kb";
                } else {
                    console.log("fileSize="+parseInt(fileSize));
                    fileSizeStr = parseInt(fileSize) + " byte";
                }

                /* if ($.inArray(ext, [ 'exe', 'bat', 'sh', 'java', 'jsp', 'html', 'js', 'css', 'xml' ]) >= 0) {
                    // 확장자 체크
                    alert("등록 불가 확장자");
                    break; */
                if ($.inArray(ext, [ 'hwp', 'doc', 'docx', 'xls', 'xlsx', 'ppt', 'pptx', 'txt', 'png', 'pdf', 'jpg', 'jpeg', 'gif', 'zip' ]) <= 0) {
                    // 확장자 체크
                    /* alert("등록이 불가능한 파일 입니다.");
                    break; */
                    alert("등록이 불가능한 파일 입니다.("+fileName+")");
                } else if (fileSizeMb > uploadSize) {
                    // 파일 사이즈 체크
                    alert("용량 초과\n업로드 가능 용량 : " + uploadSize + " MB");
                    break;
                } else {
                    // 전체 파일 사이즈
                    totalFileSize += fileSizeMb;

                    // 파일 배열에 넣기
                    fileList[fileIndex] = files[i];

                    // 파일 사이즈 배열에 넣기
                    fileSizeList[fileIndex] = fileSizeMb;

                    // 업로드 파일 목록 생성
                    addFileList(fileIndex, fileName, fileSizeStr);

                    // 파일 번호 증가
                    fileIndex++;
                }
            }
        } else {
            alert("ERROR");
        }
    }

    // 업로드 파일 목록 생성
    function addFileList(fIndex, fileName, fileSizeStr) {
        /* if (fileSize.match("^0")) {
            alert("start 0");
        } */

        var html = "";
        html += "<tr id='fileTr_" + fIndex + "'>";
        html += "    <td id='dropZone' class='left' >";
        html += fileName + " (" + fileSizeStr +") "
                //+ "<a href='#' onclick='deleteFile(" + fIndex + "); return false;' class='btn small bg_02'> 삭제</a>"

                + "<input value='삭제' type='button' href='#' onclick='deleteFile(" + fIndex + "); return false;'>"
        html += "    </td>"
        html += "</tr>"

        $('#fileTableTbody').append(html);
    }

    // 업로드 파일 삭제
    function deleteFile(fIndex) {
        console.log("deleteFile.fIndex=" + fIndex);
        // 전체 파일 사이즈 수정
        totalFileSize -= fileSizeList[fIndex];

        // 파일 배열에서 삭제
        delete fileList[fIndex];

        // 파일 사이즈 배열 삭제
        delete fileSizeList[fIndex];

        // 업로드 파일 테이블 목록에서 삭제
        $("#fileTr_" + fIndex).remove();

        console.log("totalFileSize="+totalFileSize);

        if (totalFileSize > 0) {
            $("#fileDragDesc").hide();
            $("fileListTable").show();
        } else {
            $("#fileDragDesc").show();
            $("fileListTable").hide();
        }
    }

    // 파일 등록
    function uploadFile() {
        // 등록할 파일 리스트
        var uploadFileList = Object.keys(fileList);

        // 파일이 있는지 체크
        if (uploadFileList.length == 0) {
            // 파일등록 경고창
            alert("파일이 없습니다.");
            return;
        }

        // 용량을 500MB를 넘을 경우 업로드 불가
        if (totalFileSize > maxUploadSize) {
            // 파일 사이즈 초과 경고창
            alert("총 용량 초과\n총 업로드 가능 용량 : " + maxUploadSize + " MB");
            return;
        }

        if (confirm("등록 하시겠습니까?")) {
            // 등록할 파일 리스트를 formData로 데이터 입력
            var form = $('#uploadForm');
            var formData = new FormData(form);
            for (var i = 0; i < uploadFileList.length; i++) {
                formData.append('files', fileList[uploadFileList[i]]);
            }

            $.ajax({
                url : "업로드 경로",
                data : formData,
                type : 'POST',
                enctype : 'multipart/form-data',
                processData : false,
                contentType : false,
                dataType : 'json',
                cache : false,
                success : function(result) {
                    if (result.data.length > 0) {
                        alert("성공");
                        location.reload();
                    } else {
                        alert("실패");
                        location.reload();
                    }
                }
            });
        }
    }

    // 카테고리 값 가져오기
    function getCategoryIndex(){
        for(var i = 1; i < 5; i++) {
            var inputId = 'button' + String(i);   
            var input = 'input[id=' + inputId + ']';
            var listVar = $(input).is(":checked");

            if(listVar) {
                var inputVal = document.getElementById(inputId).value;

            }
        }

        document.getElementById("input-category-index").value = inputVal;
    }  
</script>

<!-- 주문서 main -->
<!--<div style="width:100%; height:1519px; position:relative;">-->
    <!-- 이미지 영역 -->
<!--    <div style="position:relative; z-index: -1;">-->
<!--        <img src="/static/images/order_form_banner.png" align="center" width="100%"/>-->
<!--    </div>-->
    <div id="div-title-container" align="center">
        <div>
            <h1 id="h1-title"> 주문서 </h1>
        </div>
    </div>

    <div id="div-logo-container">
        <div id="div-logo"></div>
    </div>

    <!-- 내용 영역 -->
    <div align="center">
        <div style="width: 1152px; height: 1300px; position: relative; margin-top:-40px;">
            <!-- 주문서 양식 -->
            <div style="width:100%; height: 1250px;
                        box-shadow: 3px 3px 5px lightgray;
                        border-bottom-left-radius: 20% 15%;
                        border-bottom-right-radius: 20% 15%;">