<style>
@font-face {
    font-family: 'KoPubDotumMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container {
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
}

.button-wrap {
  position: relative;
  text-align: center;
  top: 50%;
  margin-top: -2.5em;
}

button {
  width: 30%;
  height: 30%;
  display: inline-block;
  margin: 50px;
  cursor: pointer;
  color: white;
  border-radius: 0.25em;
  background: #131D3D;
  transition: 0.3s;
  font-size: 15pt;
  letter-spacing: 2px;
  border-radius:17px;
}

.button-label {
  display: inline-block;
  padding: 0.7em;
  margin: 0 1em;
  cursor: pointer;
  color: black;
  border-radius: 0.25em;
  background: white;
  transition: 0.3s;
  letter-spacing: 2px;
  border-radius:17px;
}

.button-label:hover {
    background: #e9e9e9;
}

.button-label:hover:active {
    transform: translateY(3px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0px -1px 0 rgba(0,0,0,0.22);
}

#button1:checked + .button-label {
  background: #131D3D;
  color: white;
}

#button2:checked + .button-label {
  background: #131D3D;
  color: white;
}

#button3:checked + .button-label {
  background: #131D3D;
  color: white;
}

#button4:checked + .button-label {
  background: #131D3D;
  color: white;
}

.hidden {
  display: none;
}

.input_batch {
  width: 100%;
  margin: 15px 0 15px 0;
}

textarea {
  width: 80%;
  border: 2px solid #d9d9d9;
  border-radius: 17px;
  margin-left: -7px;
  padding: 10px 0 10px 10px;
  font-size: 105%;
  letter-spacing: 1px;
  resize: vertical;
  font-size:16.5px;
  font-family:맑은고딕;
}

input[type=text], input[type=email], input[type=tel], input[type=number] {
  width: 80%;
  border: 2px solid #d9d9d9;
  border-radius: 17px;
  margin-left: -7px;
  padding: 10px 0 10px 10px;
  font-size: 105%;
  letter-spacing: 1px;
}

input[type=text]:hover, input[type=email]:hover, input[type=tel]:hover, input[type=number]:hover, textarea:hover {
  background: #fafafa;
}

#input-file {
  display: none;
}

.input-file-button {
  padding: 6px 25px;
  background-color:#FF6600;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.filebox label {
    display: inline-block;
    padding: 10px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    margin-left: 10px;
    margin-top:-10px;
}

.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.filebox .upload-name {
    display: inline-block;
    height: 130px;
    padding: 0 10px;
    vertical-align: middle;
    border: 2px solid #d9d9d9;
    color: #757575;
    font-size: 105%;
    letter-spacing: 1px;
    border-radius: 17px;
    width: 77%;
    margin: 10px 0 15px -7px;
}

.upload-box {
  width: 80%;
  box-sizing: border-box;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.upload-box .drag-file {
  width: 100%;
  height: 130px;
  margin-top:10px;
  margin-bottom:15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 17px;
  border: 3px dashed #d9d9d9;
}
.upload-box .drag-file.highlight {
  border: 3px dashed red;
}
.drag-file .image {
  width: 40px;
}
.upload-box .drag-file .message {
  margin-bottom: 0;
}

.upload-btn-wrapper {
    position: relative;
    left: 10px;
    bottom: 3px;
}

.upload-btn {
    width: 100px;
    margin: 0;
    border: 2px solid gray;
    color: gray;
    background-color: white;
    border-radius:17px;
    font-size: 15px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

#fileDragDesc {
    width: 100%;
    height: 100%;
    padding: 5px;
    text-align: center;
}

</style>
<script src="http://code.jquery.com/jquery-latest.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                $("#input_file").bind('change', function() {
                    selectFile(this.files);
                    //this.files[0].size gets the size of your file.
                    //alert(this.files[0].size);
                });
            });

            // 파일 리스트 번호
            var fileIndex = 0;
            // 등록할 전체 파일 사이즈
            var totalFileSize = 0;
            // 파일 리스트
            var fileList = new Array();
            // 파일 사이즈 리스트
            var fileSizeList = new Array();
            // 등록 가능한 파일 사이즈 MB
            var uploadSize = 50;
            // 등록 가능한 총 파일 사이즈 MB
            var maxUploadSize = 500;

            $(function() {
                // 파일 드롭 다운
                fileDropDown();
            });

            // 파일 드롭 다운
            function fileDropDown() {
                var dropZone = $("#dropZone");
                //Drag기능
                dropZone.on('dragenter', function(e) {
                    e.stopPropagation();
                    e.preventDefault();
                    // 드롭다운 영역 css
                    dropZone.css('background-color', '#E3F2FC');
                });
                dropZone.on('dragleave', function(e) {
                    e.stopPropagation();
                    e.preventDefault();
                    // 드롭다운 영역 css
                    dropZone.css('background-color', '#FFFFFF');
                });
                dropZone.on('dragover', function(e) {
                    e.stopPropagation();
                    e.preventDefault();
                    // 드롭다운 영역 css
                    dropZone.css('background-color', '#E3F2FC');
                });
                dropZone.on('drop', function(e) {
                    e.preventDefault();
                    // 드롭다운 영역 css
                    dropZone.css('background-color', '#FFFFFF');

                    var files = e.originalEvent.dataTransfer.files;
                    if (files != null) {
                        if (files.length < 1) {
                            /* alert("폴더 업로드 불가"); */
                            console.log("폴더 업로드 불가");
                            return;
                        } else {
                            selectFile(files)
                        }
                    } else {
                        alert("ERROR");
                    }
                });
            }

            // 파일 선택시
            function selectFile(fileObject) {
                var files = null;

                if (fileObject != null) {
                    // 파일 Drag 이용하여 등록시
                    files = fileObject;
                } else {
                    // 직접 파일 등록시
                    files = $('#multipaartFileList_' + fileIndex)[0].files;
                }

                // 다중파일 등록
                if (files != null) {

                    if (files != null && files.length > 0) {
                        $("#fileDragDesc").hide();
                        $("fileListTable").show();
                    } else {
                        $("#fileDragDesc").show();
                        $("fileListTable").hide();
                    }

                    for (var i = 0; i < files.length; i++) {
                        // 파일 이름
                        var fileName = files[i].name;
                        var fileNameArr = fileName.split("\.");
                        // 확장자
                        var ext = fileNameArr[fileNameArr.length - 1];

                        var fileSize = files[i].size; // 파일 사이즈(단위 :byte)
                        console.log("fileSize="+fileSize);
                        if (fileSize <= 0) {
                            console.log("0kb file return");
                            return;
                        }

                        var fileSizeKb = fileSize / 1024; // 파일 사이즈(단위 :kb)
                        var fileSizeMb = fileSizeKb / 1024;    // 파일 사이즈(단위 :Mb)

                        var fileSizeStr = "";
                        if ((1024*1024) <= fileSize) {    // 파일 용량이 1메가 이상인 경우
                            console.log("fileSizeMb="+fileSizeMb.toFixed(2));
                            fileSizeStr = fileSizeMb.toFixed(2) + " Mb";
                        } else if ((1024) <= fileSize) {
                            console.log("fileSizeKb="+parseInt(fileSizeKb));
                            fileSizeStr = parseInt(fileSizeKb) + " kb";
                        } else {
                            console.log("fileSize="+parseInt(fileSize));
                            fileSizeStr = parseInt(fileSize) + " byte";
                        }

                        /* if ($.inArray(ext, [ 'exe', 'bat', 'sh', 'java', 'jsp', 'html', 'js', 'css', 'xml' ]) >= 0) {
                            // 확장자 체크
                            alert("등록 불가 확장자");
                            break; */
                        if ($.inArray(ext, [ 'hwp', 'doc', 'docx', 'xls', 'xlsx', 'ppt', 'pptx', 'txt', 'png', 'pdf', 'jpg', 'jpeg', 'gif', 'zip' ]) <= 0) {
                            // 확장자 체크
                            /* alert("등록이 불가능한 파일 입니다.");
                            break; */
                            alert("등록이 불가능한 파일 입니다.("+fileName+")");
                        } else if (fileSizeMb > uploadSize) {
                            // 파일 사이즈 체크
                            alert("용량 초과\n업로드 가능 용량 : " + uploadSize + " MB");
                            break;
                        } else {
                            // 전체 파일 사이즈
                            totalFileSize += fileSizeMb;

                            // 파일 배열에 넣기
                            fileList[fileIndex] = files[i];

                            // 파일 사이즈 배열에 넣기
                            fileSizeList[fileIndex] = fileSizeMb;

                            // 업로드 파일 목록 생성
                            addFileList(fileIndex, fileName, fileSizeStr);

                            // 파일 번호 증가
                            fileIndex++;
                        }
                    }
                } else {
                    alert("ERROR");
                }
            }

            // 업로드 파일 목록 생성
            function addFileList(fIndex, fileName, fileSizeStr) {
                /* if (fileSize.match("^0")) {
                    alert("start 0");
                } */

                var html = "";
                html += "<tr id='fileTr_" + fIndex + "'>";
                html += "    <td id='dropZone' class='left' >";
                html += fileName + " (" + fileSizeStr +") "
                        //+ "<a href='#' onclick='deleteFile(" + fIndex + "); return false;' class='btn small bg_02'> 삭제</a>"

                        + "<input value='삭제' type='button' href='#' onclick='deleteFile(" + fIndex + "); return false;'>"
                html += "    </td>"
                html += "</tr>"

                $('#fileTableTbody').append(html);
            }

            // 업로드 파일 삭제
            function deleteFile(fIndex) {
                console.log("deleteFile.fIndex=" + fIndex);
                // 전체 파일 사이즈 수정
                totalFileSize -= fileSizeList[fIndex];

                // 파일 배열에서 삭제
                delete fileList[fIndex];

                // 파일 사이즈 배열 삭제
                delete fileSizeList[fIndex];

                // 업로드 파일 테이블 목록에서 삭제
                $("#fileTr_" + fIndex).remove();

                console.log("totalFileSize="+totalFileSize);

                if (totalFileSize > 0) {
                    $("#fileDragDesc").hide();
                    $("fileListTable").show();
                } else {
                    $("#fileDragDesc").show();
                    $("fileListTable").hide();
                }
            }

            // 파일 등록
            function uploadFile() {
                // 등록할 파일 리스트
                var uploadFileList = Object.keys(fileList);

                // 파일이 있는지 체크
                if (uploadFileList.length == 0) {
                    // 파일등록 경고창
                    alert("파일이 없습니다.");
                    return;
                }

                // 용량을 500MB를 넘을 경우 업로드 불가
                if (totalFileSize > maxUploadSize) {
                    // 파일 사이즈 초과 경고창
                    alert("총 용량 초과\n총 업로드 가능 용량 : " + maxUploadSize + " MB");
                    return;
                }

                if (confirm("등록 하시겠습니까?")) {
                    // 등록할 파일 리스트를 formData로 데이터 입력
                    var form = $('#uploadForm');
                    var formData = new FormData(form);
                    for (var i = 0; i < uploadFileList.length; i++) {
                        formData.append('files', fileList[uploadFileList[i]]);
                    }

                    $.ajax({
                        url : "업로드 경로",
                        data : formData,
                        type : 'POST',
                        enctype : 'multipart/form-data',
                        processData : false,
                        contentType : false,
                        dataType : 'json',
                        cache : false,
                        success : function(result) {
                            if (result.data.length > 0) {
                                alert("성공");
                                location.reload();
                            } else {
                                alert("실패");
                                location.reload();
                            }
                        }
                    });
                }
            }
        </script>

<!-- 주문서 main -->
<!--<div style="width:100%; height:1519px; position:relative;">-->
    <!-- 이미지 영역 -->
<!--    <div style="position:relative; z-index: -1;">-->
<!--        <img src="/static/images/order_form_banner.png" align="center" width="100%"/>-->
<!--    </div>-->
    <div id="div-title-container" align="center">
        <div>
            <h1 id="h1-title"> 주문서 </h1>
        </div>
    </div>
    <!-- 내용 영역 -->
    <div align="center">
        <div style="width: 1152px; height: 1519px; position: relative; margin-top:-40px;">
            <!-- 주문서 양식 -->
            <div style="width:100%; height: 1300px;
                        box-shadow: 3px 3px 5px lightgray;
                        border-bottom-left-radius: 20% 15%;
                        border-bottom-right-radius: 20% 15%;">