{% load static %}
<!-- header -->
{% include 'body/header.html' %}

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
<style>
    .image {
        position:relative;
    }

    .image .title {
        position:absolute;
        top:40px;
        left: 44%;
        font-size: 20px;
    }

    .image .text {
        position: absolute;
        top: 150px;
        left: 30%;
        font-size: 18px;
    }

</style>

<!-- 타이틀 -->
<title>make it</title>
<!-- middle(header에서 닫지 못한 태그 등) -->
{% include 'body/middle.html' %}

<!-- ########## 기본 템플릿 안에 삽입될 내용 start ########## -->

    <div id="div-title-container">
		<h1 id="h1-title"> 주 문 서 </h1>
	</div>

    <div id="div-logo-container">
        <div id="div-logo"></div>
    </div>

    <div style="text-align: center; margin-top: 10px; margin-bottom: 10px;">
        <h1>주  문  확  인</h1>
    </div>

    <div class="image" style="text-align: center;">
        <!--주문확인 배경-->
<!--        <img src="/static/images/order_confirmation_background.png" width="50%" height="50%">-->
        <!-- 내용 영역 -->
        <div align="center">
            <div style="width: 850px; height: 950px; position: relative;">
                <!-- 주문서 양식 -->
                <div style="width:100%; height: 900px;
                            box-shadow: 3px 3px 20px lightgray;
                            border-bottom-left-radius: 5% 5%;
                            border-bottom-right-radius: 5% 5%;
                            border-top-left-radius: 5% 5%;
                            border-top-right-radius: 5% 5%;">
        <!--주문서 제목-->
        <div class="title" >
            <h2>
                < 주문서 >
            </h2>
        </div>

        <!--첫번째 : question, 두번째 : text data 넣어야함-->
        <!--{$ } -> 데이터 들어갈 곳 -->
        <div class="text">
            <table style="position: relative; left: -40%;">
                <img src="/static/images/order_confirmation_line.png" style="position: absolute; left: 20px; top: 0%;" height="30%">
                <tr>
                    <td align="right"> <div>회사명</div> </td>
                    <td align="left"> <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ order.company_name }} </div> </td>
                </tr>



                <tr>
                    <td align="right"> <div>사업자 등록번호</div> </td>
                    <td align="left"> <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ order.business_num }} </div> </td>
                </tr>

                <tr>
                    <td> <div>&nbsp; </div> </td>
                    <td> <div>&nbsp; </div> </td>
                </tr>
                <tr>
                    <td> <div>&nbsp; </div> </td>
                    <td> <div>&nbsp; </div> </td>
                </tr>


                <tr>
                    <td align="right"> <div> 담당자  </div> </td>
                    <td align="left"> <div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ order.name }} </div> </td>
                </tr>
                <tr>
                    <td align="right"> <div> 이메일  </div> </td>
                    <td align="left"> <div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ order.email }} </div> </td>
                </tr>
                <tr>
                    <td align="right"> <div> 연락처  </div> </td>
                    <td align="left"> <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ order.phone_num }} </div> </td>
                </tr>

                <tr>
                    <td> <div>&nbsp; </div> </td>
                    <td> <div>&nbsp; </div> </td>
                </tr>
                <tr>
                    <td> <div>&nbsp; </div> </td>
                    <td> <div>&nbsp; </div> </td>
                </tr>

                <img src="/static/images/order_confirmation_line.png" style="position: absolute; left: 20px; top: 39%;";  height="48%">

                <tr>
                    <td align="right"> <div> 유 형  </div> </td>
                    <td align="left"> <div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ order.category_index }} </div> </td>
                </tr>

                <tr>
                    <td> <div>&nbsp; </div> </td>
                    <td> <div>&nbsp; </div> </td>
                </tr>
                <tr>
                    <td> <div>&nbsp; </div> </td>
                    <td> <div>&nbsp; </div> </td>
                </tr>

                <tr>
                    <td align="right"> <div> 제품 제목  </div> </td>
                    <td align="left"> <div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ order.title }} </div> </td>
                </tr>
                <tr>
                    <td align="right"> <div> 제품 설명   </div> </td>
                    <td align="left"> <div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ order.description }} </div> </td>
                </tr>

                <tr>
                    <td> <div>&nbsp; </div> </td>
                    <td> <div>&nbsp; </div> </td>
                </tr>
                <tr>
                    <td> <div>&nbsp; </div> </td>
                    <td> <div>&nbsp; </div> </td>
                </tr>

                <tr>
                    <td align="right"> <div> 소 재   </div> </td>
                    <td align="left"> <div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ order.material }} </div> </td>
                </tr>
                <tr>
                    <td align="right"> <div> 제품 수량   </div> </td>
                    <td align="left"> <div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ order.quantity }} </div> </td>
                </tr>
                <tr>
                    <td align="right"> <div> 크 기   </div> </td>
                    <td align="left"> <div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ order.size }} </div> </td>
                </tr>
                <tr>
                    <td align="right"> <div> 파 일    </div> </td>
                    <td align="left"> <div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ order.path }} </div> </td>
                </tr>

                <tr>
                    <td> <div>&nbsp; </div> </td>
                    <td> <div>&nbsp; </div> </td>
                </tr>
                <tr>
                    <td> <div>&nbsp; </div> </td>
                    <td> <div>&nbsp; </div> </td>
                </tr>

                <tr>
                    <td align="right"> <div> 기 타   </div> </td>
                    <td align="left"> <div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ order.etc }} </div> </td>
                </tr>

            </table>

        </div>
        </div>

    </div>

    <div style="text-align: center; margin-top: 20px; margin-bottom: 20px; " >
        <a href="#">
            <img src="/static/images/order_update.png" width="201px" height="38px" style="margin-left: 10px;">
        </a>

        <a href="#">
            <img src="/static/images/order_complete.png" width="201px" height="38px" style="margin-right: 10px; margin-left: 10%;">
        </a>
    </div>
    </div>
    </div>

<!— ########## 기본 템플릿 안에 삽입될 내용 end ########## —>

<!— footer —>
{% include 'body/footer.html' %}