            <!-- 주문서 작성 내용: 회사명, 사업자등록번호, 담당자, 이메일, 연락처 -->
            <div align="center" style="width:100%; height:300px;">
                <!-- 주문서: 회사명, 사업자등록번호 -->
                <div style="float:left; width:50%; height:100%;">
                    <div align="left" style="padding-left:60px;">
                        <!-- 회사명 -->
                        <font size="4" style="letter-spacing: 10px; font-weight: bold;">회사명</font>
                        <div class="input_batch">
                            <input type="text" name="company_name" placeholder="회사명">
                        </div>
                        <!-- 사업자등록번호 -->
                        <font size="4" style="letter-spacing: 5px; font-weight: bold;">사업자 등록번호</font>
                        <div class="input_batch">
                            <input type="text" name="business_reg_num" placeholder="사업자 등록번호">
                        </div>
                    </div>
                </div>
                <!-- 주문서: 담당자, 이메일, 연락처 -->
                <div style="float:right; width:50%; height:100%;">
                    <div align="left" style="padding-left:60px;">
                        <!-- 담당자 -->
                        <font size="4" style="letter-spacing: 10px; font-weight: bold;">담당자</font>
                        <div class="input_batch">
                            <input type="text" name="person" placeholder="담당자">
                        </div>
                        <!-- 이메일 -->
                        <font size="4" style="letter-spacing: 10px; font-weight: bold;">이메일</font>
                        <div class="input_batch">
                            <input type="email" name="email" placeholder="이메일">
                        </div>
                        <!-- 연락처 -->
                        <font size="4" style="letter-spacing: 10px; font-weight: bold;">연락처</font>
                        <div class="input_batch">
                            <input type="tel" name="tel" placeholder="연락처">
                        </div>
                    </div>
                </div>
            </div>
            <!-- 주문서 작성 내용: 제품 제목, 제품 설명 -->
            <div align="center" style="width:100%; height:300px;">
                <div align="left" style="padding-left:60px;">
                    <!-- 제품 제목 -->
                    <font size="4" style="letter-spacing: 5px; font-weight: bold;">제품 제목</font>
                        <div style="width:113%; margin: 15px 0 15px 0;">
                            <input type="text" name="product_title" placeholder="제품 제목">
                        </div>
                    <!-- 제품 설명 -->
                    <font size="4" style="letter-spacing: 5px; font-weight: bold;">제품 설명</font>
                        <div style="width:113%; margin: 15px 0 15px 0;">
<!--                            <input type="text" name="product_description" placeholder="제품 설명">-->
                            <textarea name="product_description" placeholder="제품 설명" rows="4"></textarea>
                        </div>
                </div>
            </div>
            <!-- 주문서 작성 내용: 소재, 제품 수량, 크기, 파일, 기타 -->
            <div align="center" style="width:100%; height:300px;">
                <!-- 주문서: 소재, 제품 수량, 크기 -->
                <div style="float:left; width:50%; height:100%;">
                    <div align="left" style="padding-left:60px;">
                        <!-- 소재 -->
                        <font size="4" style="letter-spacing: 10px; font-weight: bold;">소재</font>
                        <div class="input_batch">
                            <input type="text" name="material" placeholder="소재">
                        </div>
                        <!-- 제품 -->
                        <font size="4" style="letter-spacing: 5px; font-weight: bold;">제품 수량</font>
                        <div class="input_batch">
                            <input type="number" name="product" placeholder="제품 수량">
                        </div>
                        <!-- 크기 -->
                        <font size="4" style="letter-spacing: 5px; font-weight: bold;">크기(가로/세로/높이)</font>
                        <div class="input_batch">
                            <input type="text" name="size" placeholder="크기 (가로/세로/높이)">
                        </div>
                    </div>
                </div>
                <!-- 주문서: 파일, 기타 -->
                <div style="float:right; width:50%; height:100%;">
                    <div align="left" style="padding-left:60px;">
                        <!-- 파일 -->
                        <font size="4" style="float:left; letter-spacing: 10px; font-weight: bold;">파일</font>
                        <div class="filebox">
                            <label for="file" class="">파일찾기</label>
                            <input type="file" id="file">
                        </div>
                        <div class="upload-box">
                          <div id="drop-file" class="drag-file">
                            <img src="https://img.icons8.com/pastel-glyph/2x/image-file.png" alt="파일 아이콘" class="image">
                            <p class="message">파일 업로드</p>
                          </div>
                        </div>
                        <!-- 기타 -->
                        <font size="4" style="letter-spacing: 10px; font-weight: bold;">기타</font>
                        <div class="input_batch">
                            <input type="text" name="etc" placeholder="기타">
                        </div>
                    </div>
                </div>
            </div>
            <!-- 주문하기 버튼 영역 -->
            <div align="center" style="left:20%; width: 60%; height: 150px; ">
<!--                <button type="button" onclick="alert('주문하시겠습니까?')">주문하기</button>-->
                <button type="button" onclick="location.href='{% url 'itrencotech:order_confirmation' %}'"
                        style="margin-top:20px;">주문하기</button>
            </div>
        </div>
    </div>
</div>