{% load static %}
<!-- header -->
{% include 'body/header.html' %}

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/review.css' %}">

<!-- 타이틀 -->
<title>make it</title>
<!-- middle(header에서 닫지 못한 태그 등) -->
{% include 'body/middle.html' %}
<!-- 내비게이션바 -->
{% include 'navBar/navbar.html' %}

<!-- ########## 기본 템플릿 안에 삽입될 내용 start ########## -->

{% include 'order/order_form_header.html' %}
<!-- 주문서 제목 -->
<div style="padding-top:70px;">
     <font size="8" color="#0b57a5" style="letter-spacing: 5px; font-weight: bold;">
         < 양산 주문서 >
     </font>
</div>
<!-- 주문서 별 교체 내용 -->
<div style="padding:70px 0 50px 0;">
    <!-- 주문서 메뉴 버튼 -->
    <div class="container" style="width:80%;">
        <div class="button-wrap">
            <input class="hidden radio-label" id="button1" type="radio" name="accept-offers" checked/>
            <label class="button-label" for="button1">금형</label>
            <input class="hidden radio-label" id="button2" type="radio" name="accept-offers"/>
            <label class="button-label" for="button2">사출 성형</label>
            <input class="hidden radio-label" id="button3" type="radio" name="accept-offers"/>
            <label class="button-label" for="button3">판금 절곡</label>
        </div>
    </div>
</div>
{% include 'order/order_form_footer.html' %}

<!-- ########## 기본 템플릿 안에 삽입될 내용 end ########## -->

<!-- footer -->
{% include 'body/footer.html' %}
