{% extends 'base.html' %}

{% block content %}
<div id="div-title-container">
    <h1 id="h1-title"> 회사 소개 </h1>
</div>
<div align="left">
    <div style="margin-top: 20px; width: 80%; height:1000px; position: absolute;">
        <div style="float:left; top:0px;width: 200px; height:100%; text-align:right; line-height: 60px;">
            <!-- 사이드바 -->
            {% include 'navBar/about/sidebar.html' %}
            <!-- body -->
            <div style="top: 0px; left: 250px; width: 80%; height: 100%;
                        position: absolute; background-color: #e9e9e9;">
                <!-- 타이틀 -->
                <div style="margin-top:50px; text-align:left; background-color:#8FBC8F">
                    <h2>회사 연혁</h2>
                </div>
                <hr>
                <!-- 2020년 -->
                <div>
                    <!-- 연도 -->
                    <div style="float:left; width:200px; height:250px; font-size:2em; color:#b9b9b9;
                            text-align:left; background-color: #F8F8FF">
                        <h2>2020</h2>
                    </div>
                    <!-- 월/설명 -->
                    <div style="width:100%; height:250px; text-align:center; background-color: #F0FFF0">
                        <div style="text-align:left; line-height: 40px;">
                            <p><span style="font-weight:bold;">2019.09</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    Nano-imprinting 사출 금형 코아 개발 착수</p>
                            <p><span style="font-weight:bold;">2019.07</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    3D PRINTING을 이용한 금형 및 사출 개발 착수</p>
                            <p><span style="font-weight:bold;">2019.06</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    창업진흥원 정부지원사업 초기창업패키지 선정</p>
                            <p><span style="font-weight:bold;">2019.05</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    이트렌코텍 설립</p>
                        </div>
                    </div>
                </div>
                <!-- 2019년 -->
                <div>
                    <!-- 연도 -->
                    <div style="float:left; width:200px; height:250px; font-size:2em; color:#b9b9b9;
                            text-align:left; background-color: #F8F8FF">
                        <h2>2019</h2>
                    </div>
                    <!-- 월/설명 -->
                    <div style="width:100%; height:250px; text-align:center; background-color: #F0FFF0">
                        <div style="text-align:left; line-height: 40px;">
                            <p><span style="font-weight:bold;">2019.09</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    Nano-imprinting 사출 금형 코아 개발 착수</p>
                            <p><span style="font-weight:bold;">2019.07</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    3D PRINTING을 이용한 금형 및 사출 개발 착수</p>
                            <p><span style="font-weight:bold;">2019.06</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    창업진흥원 정부지원사업 초기창업패키지 선정</p>
                            <p><span style="font-weight:bold;">2019.05</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    이트렌코텍 설립</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

