{% load static %}
<!-- header -->
{% include 'body/header.html' %}

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/review.css' %}">

<!-- 타이틀 -->
<title>make it</title>
<!-- middle(header에서 닫지 못한 태그 등) -->
{% include 'body/middle.html' %}
<!-- 내비게이션바 -->
{% include 'navBar/navbar.html' %}

<!-- ########## 기본 템플릿 안에 삽입될 내용 start ########## -->

<div id="div-title-container">
    <h1 id="h1-title"> 회사 소개 </h1>
</div>

<div id="div-logo-container">
    <div id="div-logo"></div>
</div>

<div style="margin-top:-40px; width:100%; height:1000px;">
    <div style="width:80%; position:absolute; left:10%;">
        <div style="float:left; width: 200px; height:100%; text-align:right; line-height: 60px;">
            <!-- 사이드바 -->
            {% include 'navBar/about/sidebar.html' %}
            <!-- body -->
            <div style="left: 250px; width: 1000px; height: 100%; position: absolute;">
                <!-- 타이틀 -->
                <div style="margin-top:50px; text-align:left;">
                    <h2>기업 이념</h2>
                </div>
                <hr>
                <div style="margin-top:50px; line-height:30px;">
                    <!-- 기업 이념 설명 -->
                    <div>
                        <h2 style="text-align:center;">
                            <font style="letter-spacing: 3px;">
                                "고객의 아이디어를 중시하는 기술융합회사"로 거듭나기 위해<br>
                                아이디어·신뢰·상생·기술력 확보를 중시하며 나아가고 있습니다.
                            </font>
                        </h2>
                    </div>
                    <!-- 이미지 삽입 -->
                    <div align="center">
                        <div align="center" style="height:100px; margin:0 0 50px 0;">
                            <img src="/static/images/about_ideology.PNG" width="840px"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ########## 기본 템플릿 안에 삽입될 내용 end ########## -->

<!-- footer -->
{% include 'body/footer.html' %}
