{% extends 'base.html' %}

{% block content %}
<div align="left">
    <div style="margin-top: 20px; width: 80%; height:1000px; position: absolute;">
        <div style="float:left; outline: 1px solid #9F9F9F; top:0px;
                width: 200px; height:100%; text-align:right; line-height: 60px;">
            <!-- 사이드바 -->
            {% include 'navBar/about/sidebar.html' %}
            <!-- body -->
            <div style="top: 0px; left: 250px; width: 80%; height: 100%;
                        position: absolute; background-color: #e9e9e9;">
                <!-- 타이틀 -->
                <div style="margin-top:50px; text-align:left; background-color:#8FBC8F">
                    <h2>기업 이념</h2>
                </div>
                <hr>
                <div style="margin-top:50px; line-height:30px; background-color:#8FBC8F">
                    <!-- 기업 이념 설명 -->
                    <div>
                        <h4 style="text-align:center;">
                            <p>"고객의 아이디어를 중시하는 기술융합회사"로 거듭나기 위해<br>
                            아이디어·신뢰·상생·기술력 확보를 중시하며 나아가고 있습니다.</p>
                        </h4>
                    </div>
                    <!-- 이미지 삽입 -->
                    <div align="center">
                        <div style="width:80%; height:300px; margin-top:50px; background-color:#008080">
                            <h5 style="text-align:center;">이미지 삽입</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}