{% extends 'base.html' %}

{% block content %}
<div id="div-title-container">
    <h1 id="h1-title"> 회사 소개 </h1>
</div>
<div align="left">
    <div style="margin: 20px 0 40px 0; left:200px; width: 100%; height:1000px; position: absolute;">
        <div style="float:left; top:0px; width: 200px; height:100%; text-align:right; line-height: 60px;">
            <!-- 사이드바 -->
            {% include 'navBar/about/sidebar.html' %}
            <!-- body -->
            <div style="top: 0px; left: 250px; width: 1000px; height: 100%; position: absolute;">
                <!-- 타이틀 -->
                <div style="margin-top:50px; text-align:left;">
                    <h2>찾아오시는 길</h2>
                </div>
                <hr>
                <div style="width:100%; height:90%; text-align:center;">
                    <!-- 주소 -->
                    <div>
                        <strong style="width:100px; float:left; font-weight:bold; text-align:left;">주소</strong>
                        <p style="text-align:left;">경기 시흥시 산기대학로 237 한국산업기술대학교 창업보육센터 207호</p>
                    </div>
                    <!-- 전화 -->
                    <div>
                        <strong style="width:100px; float:left; font-weight:bold; text-align:left;">전화</strong>
                        <p style="text-align:left;">031-431-0635</p>
                    </div>
                    <!-- 지도 -->
                    <div>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d793.035794222484!2d126.73511473295578!3d37.339118906658605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b710896d7b5c7%3A0x991de964fa04805!2z7Iuc7Z2l7IucIOygleyZleuPmSDtlZzqta3sgrDsl4XquLDsiKDrjIDtlZnqtZAg7LC97JeF67O07Jyh7IS87YSw!5e0!3m2!1sko!2skr!4v1641436017124!5m2!1sko!2skr"
                            width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                            tabindex="0"></iframe>
                    </div>
                    <!-- 주변 정류장 -->
                    <div style="height:200px;">
                        <strong style="width:100px; height:100%; float:left; margin-top:15px;
                                font-weight:bold; text-align:left;">주변 정류장</strong>
                        <div>
                            <div style="float:left; text-align:left; width:250px;">
                                <p>1. 한국공학대정문</p>
                            </div>
                            <div style="float:left; text-align:left; width:250px;">
                                <p>2. 한국공학대정문</p>
                            </div>
                            <div style="float:left; text-align:left; width:250px;">
                                <p>3. 경기과학기술대, 시흥에코센터</p>
                            </div>
                            <div style="float:left; text-align:left; width:250px;">
                                <p>4. 경기과학기술대, 시흥에코센터</p>
                            </div>
                            <div style="float:left; text-align:left; width:250px;">
                                <p>5. 캡쎈</p>
                            </div>
                            <div style="float:left; text-align:left; width:250px;">
                                <p>6. 캡쎈</p>
                            </div>
                        </div>
                    </div>
                    <!-- 주변 버스 -->
                    <div>
                        <strong style="width:100px; float:left; font-weight:bold; text-align:left;">주변 버스</strong>
                        <p style="text-align:left;">21&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;28&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;30&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;26&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;510</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

