<div style="float:left; width:90%; height: 700px;
        box-shadow: 3px 3px 5px lightgray;
        border-bottom-left-radius: 50% 100px;
        border-bottom-right-radius: 50% 100px;">
    <div style="margin-top:100px; margin-right:20px;">
        <a href="{% url 'itrencotech:navbar_about_ceo' %}" data-text="ceo">CEO 인사말</a><br>
        <a href="{% url 'itrencotech:navbar_about_ideology' %}" data-text="ideology">기업이념</a><br>
        <a href="{% url 'itrencotech:navbar_about_history' %}" data-text="history">회사 연혁</a><br>
        <a href="{% url 'itrencotech:navbar_about_route' %}" data-text="route">찾아오시는 길</a><br>
<!--         <a href="{% url 'itrencotech:navbar_about_test' %}" data-text="route">-->
<!--             <font style="color:#c9c9c9">마이페이지 테스트</font>-->
<!--         </a>-->
    </div>
</div>