{% extends 'base.html' %}

{% block content %}
<div style="width:100%;">
    <img src="/static/images/order_form_banner.PNG" align="center"/>
</div>
<div style="width:100%; height:1000px; background-color:#e9e9e9;">
    <div style="width:80%; position:absolute; left:10%;">
        <div style="float:left; width: 200px; height:100%; text-align:right; line-height: 60px;">
            <!-- 사이드바 -->
            {% include 'navBar/about/sidebar.html' %}
            <!-- body -->
            <div style="left: 250px; width: 1000px; height: 100%; position: absolute;">
                <!-- 타이틀 -->
                <div style="margin-top:50px; text-align:left;">
                    <h2>테스트 화면</h2>
                </div>
                <hr>

            </div>
        </div>
    </div>
</div>
{% endblock %}

